{% spaceless %}
    <!DOCTYPE html>
    <html ng-app="fintech.store.front" lang="{{ app.request.getLocale() }}">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="cache-control" content="no-cache"/>
        <meta http-equiv="expires" content="0"/>
        <meta http-equiv="pragma" content="no-cache"/>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cc0607">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>{% block title %}{{ 'Платежные институты. Готовые компании. Банковские счета.' | trans }}{% endblock %} |
            Fintech
            Finance</title>

        {% block stylesheet %}

            {% stylesheets
            '@FinanceBundle/Resources/public/css/style.scss'
            '@FinanceBundle/Resources/public/css/additional.styles.scss'

            filter='compass,uglifycss' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="{{ app.request.getLocale() }} index">
    <div class="main-wrapper">
        {% if not app.request.cookies.has('cookieAgree') %}
            {% include '@Finance/Partials/cookies-message.html.twig' %}
        {% endif %}

        {% include '@Finance/Layout/header.html.twig' %}
        {% block content %}{% endblock %}
    </div>
    {% include '@Finance/Layout/footer.html.twig' %}
    {% block javascript %}
        {% javascripts
        'assets/vendor/js-cookie/src/js.cookie.js'
        'assets/vendor/jquery/dist/jquery.min.js'
        'assets/vendor/iCheck/icheck.min.js'
        'assets/vendor/jquery-validation/dist/jquery.validate.min.js'
        '@FinanceBundle/Resources/public/js/main.js'
        filter='uglifyjs2' %}

        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-89519643-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        if (!!window.GoogleAnalyticsObject) {
            window[window.GoogleAnalyticsObject](function (tracker) {
                if (!!window[window.GoogleAnalyticsObject].getAll()[0]) {
                    ct(window, document, 'script', window[window.GoogleAnalyticsObject].getAll()[0].get('clientId'))
                }
                else {
                    ct(window, document, 'script', null);
                }
            });
        } else {
            ct(window, document, 'script', null);
        }

        (function(){ var widget_id = 'sP7YFX2XxC';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>

    </body>
    </html>
{% endspaceless %}
