{% extends 'FinanceBundle::layout.html.twig' %}
{% block title %}{{- 'Создать учетную запись' | trans -}}{% endblock %}
{% block stylesheet %}
    {{ parent() }}

    {% stylesheets
    'assets/vendor/jquery-entropizer/dist/css/jquery-entropizer.min.css'
    'assets/vendor/intl-tel-input/build/css/intlTelInput.css'
    filter='uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {# app/Resources/views/security/login.html.twig #}

    <div class="content">
        <div class="wrapper">
            <h1>{{- 'Авторизоваться' | trans -}}<span> {{ 'Создать учетную запись' | trans -}}.</span></h1>
            <div class="box-form-reg">
                <form action="{{ path('finance_login_check') }}"
                      method="post"
                      class="column-form"
                      role="form"
                      id="auth-form"
                      name="auth-form">
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    />
                    <div class="box-form__cont">
                        <h3>{{- 'У Вас уже есть учетная запись?' | trans -}}</h3>
                        {% if error %}
                            <div class="worning-form long">
                                <p>{{ error.message | trans }}</p></div>
                        {% endif %}
                        <div class="box-field">
                            <label>{{- 'Адрес электронной почты' | trans -}}</label>
                            <div class="box-field__input">
                                <input class="standart-input"
                                       type="text"
                                       id="input-login"
                                       name="_username"
                                       placeholder=""
                                       value="{{ last_username }}"/>
                            </div>
                        </div>
                        <div class="box-field">
                            <label>{{- 'Пароль' | trans -}}</label>
                            <div class="box-field__input">
                                <input type="password"
                                       name="_password"
                                       class="standart-input"
                                       placeholder=""
                                       id="input-password"/>
                            </div>
                        </div>
                        <div class="box-field popup-list rules-list">
                            <div class="box-field__input">
                                <input class="checkbox_popup styled" type="checkbox" name="_remember_me"
                                       id="remember_me_field">
                                <label for="remember_me_field">{{- 'Запомнить меня' | trans -}}</label>
                            </div>
                        </div>
                        <div class="line-buttons-form">
                            <input class="button button_form" type="submit" value="{{- 'Войти' | trans -}}">
                            <a class="button button_password"
                               href="{{ path('finance_recovery') }}">{{- 'Восстановить пароль' | trans -}}</a>
                        </div>
                    </div>
                </form>

                {{ form_start(form, {'attr': {'class': 'column-form column-form_pad-mobile', 'id': 'registration-form'}}) }}
                <div class="box-form__cont">
                    <h3>{{- 'Впервые на нашем сайте?' | trans -}}</h3>
                    <div class="line-fields">
                        <div class="box-field w50">
                            <label>{{- 'Имя' | trans -}}*</label>

                            <div class="box-field__input">
                                {{ form_widget(form.firstName, {'attr': {'class': 'standart-input'}}) }}
                            </div>
                        </div>
                        <div class="box-field w50">
                            <label>{{- 'Фамилия' | trans -}}*</label>
                            <div class="box-field__input">
                                {{ form_widget(form.lastName, {'attr': {'class': 'standart-input', 'placeholder': ''}}) }}
                            </div>
                        </div>
                    </div>
                    {%- if form_errors(form.phone) -%}
                        <div class="worning-form long">
                            <p>{{ form_errors(form.phone) }}</p>
                        </div>
                    {%- endif -%}
                    <div class="box-field">
                        <label>{{- 'Номер телефона' | trans -}}*</label>
                        <div class="box-field__input">
                            {{ form_widget(form.phone, {'attr': {'class': 'standart-input'}, 'placeholder': '+1 (234) 567-89-90'}) }}
                        </div>
                    </div>
                    {%- if form_errors(form.email) -%}
                        <div class="worning-form long">
                            <p>{{ form_errors(form.email) }}</p>
                        </div>
                    {%- endif -%}
                    <div class="box-field">
                        <label>{{- 'Адрес электронной почты' | trans -}}*</label>
                        <div class="box-field__input">
                            {{ form_widget(form.email, {'attr': {'class': 'standart-input'}}) }}
                        </div>
                    </div>
                    {%- if form_errors(form.password.first) or form_errors(form.password.second) -%}
                        <div class="worning-form long">
                            <p>{{ form_errors(form.password.first) }}</p>
                            <p>{{ form_errors(form.password.second) }}</p>
                        </div>
                    {%- endif -%}
                    <div class="line-fields">
                        <div class="box-field w50">
                            <label>{{- 'Пароль' | trans -}}*</label>
                            <div class="box-field__input">
                                {{ form_widget(form.password.first, {'attr': {'class': 'standart-input'}}) }}
                                <div id="meter" data-target="user_password_first"></div>
                            </div>
                        </div>
                        <div class="box-field w50">
                            <label>{{- 'Подтвердите пароль' | trans -}}*</label>
                            <div class="box-field__input">
                                {{ form_widget(form.password.second, {'attr': {'class': 'standart-input'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="box-field popup-list rules-list">
                        <div class="box-field__input">
                            <input class="checkbox_popup styled" type="checkbox" name="i_agree" id="i_agree" required>
                            <label for="i_agree">
                                {{- 'Я согласен с' | trans }}
                                <a href="{{ path('finance_page', {'link':  'documents/terms-of-business' }) }}"
                                   target="_blank">{{ 'Коммерческими Условиями' | trans }}</a>
                                <br/>{{ 'и' | trans }}
                                <a href="{{ path('finance_page', {'link':  'documents/refund-policy' }) }}"
                                   target="_blank">{{ 'Политикой Возврата' | trans }}</a>
                            </label>
                        </div>
                    </div>
                    <div class="line-buttons-form">
                        <input class="button button_form" type="submit"
                               value="{{- 'Создать новую учетную запись' | trans -}}"/>
                    </div>
                    <div class="worning-form">
                        <p>{{- 'Поля отмеченные звездочкой обязательны для заполнения' | trans -}}</p>
                        {%- if user_form_errors|length > 0 -%}
                            {%- for error in user_form_errors -%}
                                <p>{{ error.message | trans }}</p>
                            {%- endfor -%}
                        {%- endif -%}
                    </div>
                </div>
                <input type="hidden" name="js_on" id="js_on" value="0" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    {{ parent() }}
    {% include 'FinanceBundle:Partials:validation-translation.html.twig' %}
    {% javascripts
    'assets/vendor/entropizer/dist/entropizer.min.js'
    'assets/vendor/jquery-entropizer/dist/js/jquery-entropizer.min.js'
    'assets/vendor/intl-tel-input/build/js/intlTelInput.min.js'
    'assets/vendor/intl-tel-input/build/js/utils.js'
    '@FinanceBundle/Resources/public/js/forms.js'
    '@FinanceBundle/Resources/public/js/validation/phone-validation.js'
    '@FinanceBundle/Resources/public/js/validation/registration-form.js'
    '@FinanceBundle/Resources/public/js/validation/auth-form.js'
    filter='uglifyjs2' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        var date = new Date();

        document.getElementById("user_js_on").value = date.getFullYear();

    </script>
{% endblock %}
