{% extends 'FinanceBundle::layout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="wrapper"><h1>{{- 'Запрос пароля' | trans -}}</h1>
            <div class="form-edit-password">
                <div class="box-form__cont">
                    {{ form_start(form, {'attr': {'class': 'column-form', 'id':'recovery-form'} }) }}
                    {% if messageSent %}
                        <div class="success-form long">
                            <p>{{ 'Сообщение отправлено' | trans }}</p>
                        </div>
                    {% endif %}
                    {%- if form_errors(form) -%}
                        <div class="worning-form long">
                            <p>{{ form_errors(form) }}</p>
                        </div>
                    {%- endif -%}
                    <div class="box-field">
                        <label for="email">{{- 'Адрес электронной почты' | trans -}}</label>
                        <div class="box-field__input">
                            {{ form_widget(form.email, {'attr': {'class': 'standart-input'}}) }}
                        </div>
                    </div>
                    <div class="line-buttons-form">
                        <input class="button button_form button_size2"
                               type="submit"
                               value="{{- 'Запросить' | trans -}}"/>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    {{ parent() }}
    {% include 'FinanceBundle:Partials:validation-translation.html.twig' %}
    {% javascripts
    '@FinanceBundle/Resources/public/js/validation/recovery-form.js'
    filter='uglifyjs2' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
