<mjml>
    <mj-head>
        {% include '@Finance/Emails/parts/head.mjml.twig' %}
        <mj-title>Новый заказ #{{ order.id }}</mj-title>
    </mj-head>
    <mj-body>
        <mj-container>
            <mj-section>
                <mj-column>

                    <mj-image src="{{ asset('/img/logo@2x.png') }}" mj-class="logo"></mj-image>

                    <mj-text mj-class="h1">Новый заказ #{{ order.id }}</mj-text>
                    <mj-text mj-class="h2">Детали</mj-text>

                    <mj-text mj-class="label">Имя</mj-text>
                    <mj-text mj-class="bold">{{ order.firstName }}</mj-text>

                    <mj-text mj-class="label">Фамилия</mj-text>
                    <mj-text mj-class="bold">{{ order.lastName }}</mj-text>

                    <mj-text mj-class="label">Страна</mj-text>
                    <mj-text mj-class="bold">{{ order.country }}</mj-text>

                    {% if app.user %}
                        <mj-text mj-class="label">Пользователь</mj-text>
                        <mj-text mj-class="bold">
                            <a href="{{ absolute_url(path('admin_user_show', {'id': app.user.id}, true)) }}">
                                №{{ app.user.id }} {{ app.user.email }}
                            </a>
                        </mj-text>
                    {% endif %}

                    <mj-text mj-class="label">Город</mj-text>
                    <mj-text mj-class="bold">{{ order.city }}</mj-text>

                    <mj-text mj-class="label">Улица</mj-text>
                    <mj-text mj-class="bold">{{ order.street }}</mj-text>

                    <mj-text mj-class="label">Телефон</mj-text>
                    <mj-text mj-class="bold">{{ order.phone }}</mj-text>

                    <mj-text mj-class="label">Индекс</mj-text>
                    <mj-text mj-class="bold">{{ order.zip }}</mj-text>

                    <mj-text mj-class="label">Тип выбранного платежа</mj-text>
                    <mj-text mj-class="bold">
                        {% if order.payment == 0 %}
                            Paypal
                        {% else %}
                            Visa/MasterCard
                        {% endif %}
                    </mj-text>

                    <mj-text mj-class="label">Идентификатор транзакции</mj-text>
                    <mj-text mj-class="bold">{{ order.transactionId }}</mj-text>

                    {% for item in order.items %}
                        {% if item.parent == null %}
                            <mj-text mj-class="bold">
                                {{ item.name }}
                            </mj-text>
                            {% for childItem in item.childItems %}
                                <mj-text font-size="13px" color="#9a9999">
                                    &mdash; {{ childItem.name }}</i>
                                </mj-text>
                            {% endfor %}
                            {% if item.bankItem %}
                                <mj-text font-size="13px" color="#9a9999">
                                    {% if item.dist %}
                                        Персональное присутствие
                                    {% else %}
                                        Дистанционное открытие
                                    {% endif %}
                                </mj-text>
                            {% endif %}
                            <mj-text mj-class="price">&euro; {{ item.cost }}</mj-text>
                            <mj-divider mj-class="br"/></mj-divider>
                        {% endif %}
                    {% endfor %}


                    <mj-button href="{{ absolute_url(path('admin_order_show', {'id': order.id}, true)) }}" mj-class="button pb-30">
                        {{ 'Посмотреть заказ' | trans}}
                    </mj-button>
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>
