<mjml>
    <mj-head>
        {% include '@Finance/Emails/parts/head.mjml.twig' %}
        <mj-title>{{ 'Ваш заказ' | trans }} </mj-title>
    </mj-head>
    <mj-body>
        <mj-container>
            <mj-section>
                <mj-column>
                    <mj-image src="{{ asset('/img/logo@2x.png') }}" mj-class="logo"></mj-image>
                    <mj-text mj-class="h1 pb-60">{{ 'Ваш заказ' | trans }} #{{ order.id }}</mj-text>
                    <mj-text mj-class="h2 pb-40">{{ 'Сведения o заказе' | trans }}</mj-text>
                    {% for item in order.items %}
                        {% if item.parent == null %}
                            <mj-text mj-class="bold">
                                {{ loop.index }}. {{ item.name }}
                            </mj-text>
                            {% for childItem in item.childItems %}
                                <mj-text font-size="13px" color="#9a9999">
                                    &mdash; {{ childItem.name }}
                                </mj-text>
                            {% endfor %}
                            {% if item.bankItem %}
                                <mj-text font-size="13px" color="#9a9999">
                                    {% if item.dist %}
                                        {{- 'Персональное присутствие' | trans -}}
                                    {% else %}
                                        {{- 'Дистанционное открытие' | trans -}}
                                    {% endif %}
                                </mj-text>
                            {% endif %}
                            <mj-text mj-class="price">&euro; {{ item.cost }}</mj-text>
                            <mj-divider mj-class="br"/></mj-divider>
                        {% endif %}
                    {% endfor %}

                    <mj-text mj-class="big price pb-60">&euro; {{ order.sum }}</mj-text>
                    <mj-text mj-class="red">
                        {{ 'Специалист свяжется с вами в течении 40 минут' | trans }}.
                    </mj-text>
                    {% include '@Finance/Emails/parts/footer.mjml.twig' %}
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>
