{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Админ панель{% endblock %}</title>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ asset('bundles/petkoparacrudgenerator/images/favicon.ico') }}">

    {% block stylesheets %}
        {% stylesheets
        'bundles/petkoparacrudgenerator/css/bootstrap.min.css'
        'bundles/a2lixtranslationform/css/a2lix_translation_default.css'
        filter='cssrewrite,uglifycss' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% stylesheets
        'bundles/finance/css/admin.scss'
        filter='compass,cssrewrite,uglifycss' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
{% include '@Finance/Admin/navbar.html.twig' %}
{% if app.session.flashbag|length > 0 %}
    <br/>
    <div class="container">
        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{- flash_message | raw -}}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts filter='uglifyjs2'
    'assets/vendor/jquery/dist/jquery.min.js'
    'bundles/petkoparacrudgenerator/js/bootstrap.min.js'
    'bundles/petkoparacrudgenerator/js/petkopara-crud-generator.js'
    'bundles/a2lixtranslationform/js/a2lix_translation_default.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
{% endspaceless %}
