{% extends 'FinanceBundle::layout.html.twig' %}
{% block content %}
    <div class="wrapper store-cart"><h1>{{ 'Корзина' | trans }}</h1>
        <div class="nav-private-office opt2">
            <ul class="list-step">
                <li class="active list-step__item">
                    <span class="list-step__title">{{ 'Список покупок' | trans }}</span>
                    <span class="list-step__number">1</span>
                </li>
                <li class="active list-step__item">
                    <span class="list-step__title">{{ 'Оформление заказа' | trans }}</span>
                    <span class="list-step__number">2</span></li>
                <li class="active list-step__item">
                    <span class="list-step__title">{{ 'Завершение' | trans }}</span>
                    <span class="list-step__number">3</span>
                </li>
            </ul>
        </div>
        <div class="box-form-private-office opt3">
            <div class="text-page long">
                <h2 class="title-terms">{{ 'Оплата отменена' | trans }}</h2>
            </div>
        </div>
    </div>
{% endblock %}
