{% extends 'FinanceBundle::layout.html.twig' %}
{% block content %}
    <div class="wrapper store-cart"><h1>{{ 'Корзина' | trans }}</h1>
        {% if items | length > 0 %}
            <div class="nav-private-office opt2">
                <ul class="list-step">
                    <li class="active list-step__item">
                        <span class="list-step__title">{{ 'Список покупок' | trans }}</span>
                        <span class="list-step__number">1</span>
                    </li>
                    <li class="list-step__item">
                        <span class="list-step__title">{{ 'Оформление заказа' | trans }}</span>
                        <span class="list-step__number">2</span></li>
                    <li class="list-step__item">
                        <span class="list-step__title">{{ 'Завершение' | trans }}</span>
                        <span class="list-step__number">3</span>
                    </li>
                </ul>
            </div>
            <div class="box-form-private-office opt3">
                <div class="box-history opt2">

                    <ul class="table-history">
                        <li class="tr">
                            <div class="th col3">{{ 'Имя' | trans }}</div>
                            <div class="th col6">{{ 'Стоимость' | trans }}</div>
                            <div class="th col5">{{ 'Удалить' | trans }}</div>
                        </li>
                        {% for item in items %}
                            <li class="tr" id="{{ item.id }}">
                                <div class="td">
                                    <a class="table-history__title" href="#">
                                        {{- item.name -}}
                                    </a>
                                    {% if item.childItems | length > 0 %}
                                        {% for specialItem in item.childItems %}
                                            <span>{{- specialItem.name -}}</span><br/>
                                        {% endfor %}
                                    {% endif %}
                                    {% if item.bankItem %}
                                        {% if item.dist %}
                                            {{- 'Персональное присутствие' | trans -}}
                                        {% else  %}
                                            {{- 'Дистанционное открытие' | trans -}}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="td">
                                    <p class="table-history__price">&euro; {{ item.cost }}</p>
                                </div>
                                <div class="td">
                                    <a class="remove-from-cart box-history__delete"
                                       data-item-id="{{ item.id }}"
                                       data-item-cost="{{ item.cost }}"
                                       href="">{{ 'Удалить~' | trans }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="line-total-form opt2">
                        <p class="line-total-form__price">{{ 'Итого' | trans }} &euro;<span>{{ sum }}</span></p>

                        {% if app.user %}
                            <a class="button button_form size3"
                               href="{{ path('finance_user_details') }}">{{ 'Далее' | trans }}</a>
                        {% else %}
                            <a class="button size2"
                               href="{{ path('finance_user_details') }}">{{ 'Быстрое оформление' | trans }}</a>
                            <a class="button button_form opt3"
                               href="{{ path('finance_login') }}">{{ 'Купить с авторизацией*' | trans }}</a>
                        {% endif %}
                    </div>
                    {% if not app.user %}
                        <p class="box-history__help">
                            * {{ 'Возможность просматривать статус заказа местоположение груза и историю покупок' | trans }}</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="box-form-private-office opt3 empty-cart">
                <p>{{ 'Ваша корзина пуста' | trans }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@FinanceBundle/Resources/public/js/cart.js'
    filter='uglifyjs2' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
