{% extends 'FinanceBundle::layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}

    {% stylesheets
    'assets/vendor/intl-tel-input/build/css/intlTelInput.css'
    filter='uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>Корзина</h1>
        <div class="nav-private-office opt2">
            <ul class="list-step">
                <li class="active list-step__item">
                    <span class="list-step__title">{{ 'Список покупок' | trans }}</span>
                    <span class="list-step__number">1</span></li>
                <li class="active list-step__item">
                    <span class="list-step__title">{{ 'Оформление заказа' | trans }}</span>
                    <span class="list-step__number">2</span>
                </li>
                <li class="list-step__item">
                    <span class="list-step__title">{{ 'Завершение' | trans }}</span>
                    <span class="list-step__number">3</span>
                </li>
            </ul>
        </div>
        <div class="box-form-private-office opt2">
            {{ form_start(form, {'attr': {'id': 'order-form'}}) }}
            <div class="form-basket__column">
                <h3>{{ 'Личные данные' | trans }}</h3>
                <div class="line-fields">
                    {%- if form_errors(form.firstName) -%}
                        <div class="worning-form long">
                            <p>{{ form_errors(form.firstName) }}</p>
                        </div>
                    {%- endif -%}
                    <div class="box-field w50">
                        <label>{{ 'Имя' | trans }}</label>
                        <div class="box-field__input">
                            {{ form_widget(form.firstName, {'attr': {'class': 'standart-input'}, 'value' : app.user ? app.user.firstName : '' }) }}
                        </div>
                    </div>
                    {%- if form_errors(form.lastName) -%}
                        <div class="worning-form long">
                            <p>{{ form_errors(form.lastName) }}</p>
                        </div>
                    {%- endif -%}
                    <div class="box-field w50">
                        <label>{{ 'Фамилия' | trans }}</label>
                        <div class="box-field__input">
                            {{ form_widget(form.lastName, {'attr': {'class': 'standart-input' }, 'value' : app.user ? app.user.lastName : '' }) }}
                        </div>
                    </div>
                </div>
                <div class="line-fields {{ app.user ? 'hidden' : '' }}">
                    {%- if form_errors(form.email) -%}
                        <div class="worning-form long">
                            <p>{{ form_errors(form.email) }}</p>
                        </div>
                    {%- endif -%}
                    <div class="box-field w50">
                        <label>{{ 'Адрес электронной почты' | trans }}</label>
                        <div class="box-field__input">
                            {{ form_widget(form.email, {'attr': {'class': 'standart-input'}, 'value' : app.user ? app.user.email : '' }) }}
                        </div>
                    </div>
                </div>
                <div class="line-fields">
                    {%- if form_errors(form.country) -%}
                        <div class="worning-form long">
                            <p>{{ form_errors(form.country) }}</p>
                        </div>
                    {%- endif -%}
                    <div class="box-field w50">
                        <label>{{ 'Страна' | trans }}</label>
                        <div class="box-field__input">
                            {{ form_widget(form.country, {'attr': {'class': 'standart-input'}}) }}
                        </div>
                    </div>
                    {%- if form_errors(form.city) -%}
                        <div class="worning-form long">
                            <p>{{ form_errors(form.city) }}</p>
                        </div>
                    {%- endif -%}
                    <div class="box-field w50">
                        <label>{{ 'Город' | trans }}</label>
                        <div class="box-field__input">
                            {{ form_widget(form.city, {'attr': {'class': 'standart-input' }}) }}
                        </div>
                    </div>
                </div>
                {%- if form_errors(form.street) -%}
                    <div class="worning-form long">
                        <p>{{ form_errors(form.street) }}</p>
                    </div>
                {%- endif -%}
                <div class="box-field">
                    <label>{{ 'Улица' | trans }}</label>
                    <div class="box-field__input">
                        {{ form_widget(form.street, {'attr': {'class': 'standart-input'}}) }}
                    </div>
                </div>
                {%- if form_errors(form.phone) -%}
                    <div class="worning-form long">
                        <p>{{ form_errors(form.phone) }}</p>
                    </div>
                {%- endif -%}
                <div class="box-field">
                    <label>{{ 'Номер телефона' | trans }}</label>
                    <div class="box-field__input">
                        {{ form_widget(form.phone, {'attr': {'class': 'standart-input'}, 'value' : app.user ? '+' ~ app.user.phone : '' }) }}
                    </div>
                </div>
                {%- if form_errors(form.zip) -%}
                    <div class="worning-form long">
                        <p>{{ form_errors(form.zip) }}</p>
                    </div>
                {%- endif -%}
                <div class="box-field">
                    <label>{{ 'Индекс' | trans }}</label>
                    <div class="box-field__input">
                        {{ form_widget(form.zip, {'attr': {'class': 'standart-input'}}) }}
                    </div>
                </div>
                {%- if form_errors(form.payment) -%}
                    <div class="worning-form long">
                        <p>{{ form_errors(form.payment) }}</p>
                    </div>
                {%- endif -%}
                <ul class="list-radio for-payment">
                    <li class="list-radio__item">
                        {{ form_widget(form.payment[0], {'attr': {'class': 'hidden'}, 'label': ' '}) }}
                        {{ form_widget(form.payment[1], {'attr': {'class': 'js-styled'}, 'label': ' '}) }}
                        <label for="order_payment_1">
                                <span class="list-radio__icon">
                                    <img src="{{ asset('/img/master-card-logo.png') }}" alt="" width="55"/>
                                    <img src="{{ asset('/img/visa-logo.png') }}" alt="" width="45"/>
                                    <img src="{{ asset('/img/unionpay-logo.png') }}" alt="" width="60"/>
                                </span>
                        </label>
                    </li>
                </ul>

                <div class="box-field popup-list rules-list">
                    <div class="box-field__input">
                        <input class="checkbox_popup styled"
                               type="checkbox"
                               name="_remember_me"
                               id="remember_me_field"
                               required="required">
                        <label for="remember_me_field">
                            {{- 'Я согласен с' | trans }}
                            <a href="{{ path('finance_page', {'link':  'documents/terms-of-business' }) }}"
                               target="_blank">{{ 'Коммерческими Условиями' | trans }}</a> {{ 'и' | trans }}
                            <a href="{{ path('finance_page', {'link':  'documents/refund-policy' }) }}"
                               target="_blank">{{ 'Политикой Возврата' | trans }}</a>
                        </label>
                    </div>
                </div>
                {{ form_widget(form.status, {'attr': {'class': 'hidden'}}) }}
                {{ form_rest(form) }}
            </div>

            <div class="line-total-form">
                <p class="line-total-form__price">
                    {{- 'Итого' | trans }}<span>&euro; {{ sum }}</span>
                </p>
                <a class="button button_form button_gray"
                   href="{{ path('finance_user_cart') }}">
                    {{- 'Cancel' | trans -}}
                </a>
                <input class="button button_form next" type="submit" value="{{ 'Купить' | trans }}">
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include 'FinanceBundle:Partials:validation-translation.html.twig' %}
    {% javascripts
    'assets/vendor/intl-tel-input/build/js/intlTelInput.min.js'
    'assets/vendor/intl-tel-input/build/js/utils.js'
    '@FinanceBundle/Resources/public/js/forms.js'
    '@FinanceBundle/Resources/public/js/checkout-details.js'
    '@FinanceBundle/Resources/public/js/validation/phone-validation.js'
    '@FinanceBundle/Resources/public/js/validation/order-form.js'
    filter='uglifyjs2' %}

    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}
