{% extends 'FinanceBundle::layout.html.twig' %}
{% block content %}
    <div class="wrapper store-cart"><h1>{{ 'Корзина' | trans }}</h1>
        <div class="nav-private-office opt2">
            <ul class="list-step">
                <li class="active list-step__item">
                    <span class="list-step__title">{{ 'Список покупок' | trans }}</span>
                    <span class="list-step__number">1</span>
                </li>
                <li class="active list-step__item">
                    <span class="list-step__title">{{ 'Оформление заказа' | trans }}</span>
                    <span class="list-step__number">2</span></li>
                <li class="active list-step__item">
                    <span class="list-step__title">{{ 'Завершение' | trans }}</span>
                    <span class="list-step__number">3</span>
                </li>
            </ul>
        </div>
        <div class="box-form-private-office opt3">
            <div class="text-page long">
                <h2 class="title-terms">{{ 'Оплата успешно произведена' | trans }}</h2>
                <p>
                    {{- 'Номер вашего заказа' | trans }} №{{ order.id -}}
                    <br/>
                    {{- 'В течении 40 минут с вами свяжется специалист из нашей компании для уточнения деталей' | trans -}}
                </p>
            </div>
        </div>
    </div>
    <!-- Begin HTML -->


{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        ga('require', 'ecommerce');
        ga('ecommerce:addTransaction', {
            'id': '{{ order.id }}',
            'affiliation': 'FinFinance',
            'revenue': '{{ order.sum }}',
            'shipping': '0',
            'tax': '0',
            'currency': 'EUR'
        });

        {% for item in order.items %}
        {% if item.parent == null %}
        ga('ecommerce:addItem', {
            'id': '{{ order.id }}',
            'name': '{{ item.name }}',
            'sku': '{{ item.id }}',
            'price': '{{ item.cost }}',
            'quantity': '1'
        });
        {% endif %}
        {% endfor %}

        ga('ecommerce:send');
    </script>
{% endblock %}
