{% extends '@Finance/UserAccount/layout.html.twig' %}

{% block account_content %}
    <div class="box-form__cont">
        {% if not app.user.isConfirmed %}
            <div class="worning-form long m-20-b">
                <p>
                    {{- 'Пожалуйста проверьте Вашу почту для завершения регистрации' | trans -}}&nbsp;
                    {{- 'Обратите внимание, что неподтвержденная учетная запись будет удалена через 10 дней' | trans -}}
                </p>
                <a href="{{ path('finance_resend_confirm') }}" class="m-20-t">
                    {{- 'Повторно отправить письмо' | trans -}}
                </a>
            </div>
        {% endif %}
        {% if showSuccess %}
            <div class="success-message m-20-b">
                <p>{{ 'Поздравляем! Вы подтвердили регистрацию' | trans }}</p>
            </div>
        {% endif %}
        <h2>{{ 'Личные данные' | trans }}</h2>
        <div class="box-info-user">
            <div class="box-info-user__item">
                <p class="box-info-user__label">{{ 'Имя' | trans }}</p>
                <p class="box-info-user__info">{{ app.user.firstName }}</p></div>
            <div class="box-info-user__item">
                <p class="box-info-user__label">{{ 'Фамилия' | trans }}</p>
                <a class="link-mail" href="#">{{ app.user.lastName }}</a>
            </div>
            <div class="box-info-user__item top2">
                <p class="box-info-user__label">{{ 'Email' | trans }}</p>
                <p class="box-contacts__address">{{ app.user.email }}</p>
            </div>
            <div class="box-info-user__item top2">
                <p class="box-info-user__label">{{ 'Номер телефона' | trans }}</p>
                <p class="box-contacts__address">{{ app.user.phone }}</p>
            </div>
            <div class="line-buttons-form top">
                <a class="button button_form opt2"
                   href="{{ path('finance_user_account_edit') }}">{{ 'Редактировать данные' | trans }}</a>
                <a class="button button_form opt2"
                   href="{{ path('finance_user_account_change_password') }}">{{ 'Сменить пароль' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
