{% extends '@Finance/UserAccount/layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}

    {% stylesheets
    'assets/vendor/jquery-entropizer/dist/css/jquery-entropizer.min.css'
    filter='uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block account_content %}
    <div class="box-form-private-office">
        {{ form_start(edit_form, {'attr': {'class': 'column-form', 'id':'user_change_password'} }) }}
        <div class="box-form__cont">
            <h2>{{ 'Сменить пароль' | trans }}</h2>
            {%- if form_errors(edit_form.password) -%}
                <div class="worning-form long">
                    <p>{{ form_errors(edit_form.password) }}</p>
                </div>
            {%- endif -%}
            <div class="box-field">
                <label>{{ 'Старый пароль' | trans }}</label>
                <div class="box-field__input">
                    {{ form_widget(edit_form.password, {'attr': {'class': 'standart-input'}}) }}
                </div>
            </div>
            {%- if form_errors(edit_form.new_password.first) -%}
                <div class="worning-form long">
                    <p>{{ form_errors(edit_form.new_password.first) }}</p>
                </div>
            {%- endif -%}
            <div class="box-field">
                <label>{{ 'Новый пароль' | trans }}</label>
                <div class="box-field__input">
                    {{ form_widget(edit_form.new_password.first, {'attr': {'class': 'standart-input'}}) }}
                    <div id="meter" data-target="user_change_password_new_password_first"></div>
                </div>
            </div>
            {%- if form_errors(edit_form.new_password.second) -%}
                <div class="worning-form long">
                    <p>{{ form_errors(edit_form.new_password.second) }}</p>
                </div>
            {%- endif -%}
            <div class="box-field">
                <label>{{ 'Подтвердите пароль' | trans }}</label>
                <div class="box-field__input">
                    {{ form_widget(edit_form.new_password.second, {'attr': {'class': 'standart-input'}}) }}
                </div>
            </div>
            <div class="line-buttons-form">
                <input type="submit" class="button button_form" value="{{ 'Применить' | trans }}">
            </div>
        </div>
        {{ form_errors(edit_form) }}
        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include 'FinanceBundle:Partials:validation-translation.html.twig' %}
    {% javascripts
    'assets/vendor/entropizer/dist/entropizer.min.js'
    'assets/vendor/jquery-entropizer/dist/js/jquery-entropizer.min.js'
    '@FinanceBundle/Resources/public/js/forms.js'
    '@FinanceBundle/Resources/public/js/validation/user-change-password-form.js'
    filter='uglifyjs2' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
