{% extends '@Finance/UserAccount/layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}

    {% stylesheets
    'assets/vendor/intl-tel-input/build/css/intlTelInput.css'
    filter='uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block account_content %}
    <div class="box-form-private-office">
        {{ form_start(edit_form, {'attr': {'class': 'column-form', 'id' : 'user_edit_form'} }) }}
        <div class="box-form__cont">
            <h2>{{ 'Редактировать личные данные' | trans }}</h2>
            <div class="line-fields">
                <div class="box-field w50 hide-mobile">
                    <label>{{ 'Имя' | trans }}</label>
                    <div class="box-field__input">
                        {{ form_widget(edit_form.firstName, {'attr': {'class': 'standart-input'} }) }}
                    </div>
                </div>
                <div class="box-field w50 right hide-mobile">
                    <label>{{ 'Фамилия' | trans }}</label>
                    <div class="box-field__input">
                        {{ form_widget(edit_form.lastName, {'attr': {'class': 'standart-input'} }) }}
                    </div>
                </div>
            </div>
            <div class="box-field">
                <label>{{ 'Адрес электронной почты' | trans }}</label>
                <div class="box-field__input">
                    <input type="text" class="standart-input" placeholder="{{ app.user.Email }}" disabled>
                </div>
            </div>
            {%- if form_errors(edit_form.phone) -%}
                <div class="worning-form long">
                    <p>{{ form_errors(edit_form.phone) }}</p>
                </div>
            {%- endif -%}
            <div class="box-field">
                <label>{{ 'Номер Телефона' | trans }}</label>
                <div class="box-field__input">
                    {{ form_widget(edit_form.phone, {'attr': {'class': 'standart-input'} }) }}
                </div>
            </div>
            <div class="line-buttons-form">
                <input type="submit" class="button button_form" value="{{ 'Сохранить' | trans }}">
            </div>
        </div>
        {{ form_errors(edit_form) }}
        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include 'FinanceBundle:Partials:validation-translation.html.twig' %}
    {% javascripts
    'assets/vendor/intl-tel-input/build/js/intlTelInput.min.js'
    'assets/vendor/intl-tel-input/build/js/utils.js'
    '@FinanceBundle/Resources/public/js/forms.js'
    '@FinanceBundle/Resources/public/js/validation/phone-validation.js'
    '@FinanceBundle/Resources/public/js/validation/user-edit-form.js'
    filter='uglifyjs2' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

