{% extends '@Finance/UserAccount/layout.html.twig' %}

{% block account_content %}
    <div class="box-form__cont">
        <h2>{{ 'История покупок' | trans }}</h2>
        <div class="box-info-user">
            {% if orders | length > 0 %}
                {% include '@Finance/UserAccount/order-list.html.twig' %}
            {% else %}
                <span class="empty-cart">{{ 'История заказов пуста' | trans }}</span>
            {% endif %}
        </div>
    </div>
{% endblock %}
