{% extends 'FinanceBundle::layout.html.twig' %}

{% block content %}
    <div class="wrapper">
        <h1>{{ 'Личный кабинет' | trans }}</h1>
        <div class="nav-private-office">
            <ul class="menu for-po">
                <li class="menu__item">
                    <a class="menu__link" href="{{ path('finance_user_account') }}">{{ 'Личные данные' | trans }}</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link"
                       href="{{ path('finance_user_account_orders') }}">{{ 'Мои заказы' | trans }}</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="{{ path('finance_user_history') }}">{{ 'История покупок' | trans }}</a>
                </li>
            </ul>
        </div>
        <div class="box-form-private-office">
            <div class="column-form max-long">
                {% block account_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
