<div class="box-form-private-office">
    <div class="box-history">
        <ul class="table-history">
            <li class="tr">
                <div class="th col1">{{ 'Номер' | trans }}</div>
                <div class="th col2">{{ 'Дата' | trans }}</div>
                <div class="th col3">{{ 'Имя' | trans }}</div>
                <div class="th col4">{{ 'Стоимость' | trans }}</div>
                <div class="th col5">{{ 'Статус' | trans }}</div>
            </li>
            {% for order in orders %}
                <li class="tr">
                    <div class="td col1">
                        <span class="table-history__info">#{{- order.id -}}</span>
                    </div>
                    <div class="td">
                        <span class="table-history__info">{% if order.created %}{{- order.created|date('d.m.Y') -}}{% endif %}</span>
                    </div>
                    <div class="td">
                        {% for item in order.items %}
                            {% if item.parent == null %}
                                <tr>
                                    <td>
                                        <span class="table-history__title">{{ item.name }}</span>
                                        {% for childItem in item.childItems %}
                                            <br/><i>{{ childItem.name }}</i>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <p class="table-history__sub-info">&euro; {{ item.cost }}</p>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="td">
                        <p class="table-history__price">€ {{- order.sum -}}</p>
                    </div>
                    <div class="td">
                        <span class="table-history__status">
                            {% include '@Finance/Partials/order-status-list.html.twig' %}
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
