{% extends '::admin-base.html.twig' %}

{% block title %}
    {{ parent() }} -  Edit lang_config
{% endblock %}

{% block body %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>Edit lang_config <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% if lang_config.key == 'en' %}
                <div class="alert alert-info">
                    Вы не можете менять статус этого язык, так как это может повлечь проблемы в работе приложения.
                </div>
            {% endif %}
            {{ form_start(edit_form) }}
            <div class="form-group">
                <label class="col-sm-2 control-label required" for="config_lang_key">Язык</label>
                <div class="col-sm-10">
                    <span class="label label-info">{{ lang_config.key }}</span>
                </div>
            </div>
            {{ form_widget(edit_form) }}
            {% if lang_config.key != 'en' %}
            <p>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit
                </button>
            </p>
            {% endif %}
            {{ form_end(edit_form) }}
            <hr/>
            <div class="form-group">
                <a class="btn btn-default" href="{{ path('admin_lang_config') }}">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Back to list
                </a>
                <a class="btn btn-info" href="{{ path('admin_lang_config_new') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New
                </a>
            </div>
        </div>
    </div>
{% endblock %}

