{% extends '::admin-base.html.twig' %}

{% block title %}
    {{ parent() }} - lang_config
{% endblock %}

{% block body %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>View lang_config <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Id</strong></p>
                <p>
                    {{ lang_config.id }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Key</strong></p>
                <p>
                    {{ lang_config.key }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Value</strong></p>
                <p>
                    {{ lang_config.value }}
                </p>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('admin_lang_config') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Back to list
            </a>
            <a class="btn btn-primary" href="{{ path('admin_lang_config_edit', { 'id':  lang_config.id }) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Edit
            </a>
            <a class="btn btn-info" href="{{ path('admin_lang_config_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New
            </a>
        </div>
    </div>
{% endblock %}
