<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar-collapse">
            {{ knp_menu_render('FinanceBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
        </div>
    </div>
</nav>
