.ru, .de {
  .slogan {
    @media(max-width: 1150px) {
      margin-left: 20px;
    }
  }
}

$fancyboxWidth: 715px;
.fancybox-wrap {

  width: 100%;

  height: auto;
  position: absolute;
  opacity: 1;
  overflow: visible;
  left: 0;
  top: 0;

  .fancybox-skin {
    box-shadow: none;
    border-radius: 0px;
  }

  @media (min-width: 760px) {
    width: $fancyboxWidth;
    margin-left: -$fancyboxWidth / 2;
    left: 50%;
    top: 444px;

    .fancybox-skin {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }

  }
}

.empty-cart {
  font-size: 14px;
  padding: 20px 0 0 30px;
  a {
    text-decoration: underline;
    text-transform: lowercase;
  }
}

.small-text {
  font-size: 14px;
  a {
    text-decoration: underline;
  }
}

.popup-list__item-col {
  &.col-3 {
    color: #000;
  }
}

.add-to-cart-message {
  position: fixed;
  left: 50%;
  top: 50%;

  width: 376px;
  height: 384px;
  margin-left: -(376px / 2);
  margin-top: -(384px / 2);
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.20);
  text-align: center;
  font-weight: bold;
  z-index: 1000;
  padding-top: 39px;
  border-radius: 20px;

  overflow: hidden;

  opacity: 1;
  transition: opacity .3s;

  &.hide {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity .3s;

  }

  a.button {
    cursor: pointer;
    width: 212px;
  }

  strong {
    padding-top: 10px;
    padding-bottom: 38px;
    display: block;
  }

  div {
    margin-bottom: 13px;
  }

  .close-popup {
    top: 17px;
    right: 17px;
    position: absolute;
    height: 8px;
    width: 8px;
  }
}

.button.go-to-cart {
  border: solid 1px #0072ca;
  color: #0072ca;
}

.button.buy-bank:hover,
.button.buy-company {
  border: solid 1px #005ba1;
  background: #005ba1;
  color: #fff;
}

.button.go-to-cart:hover,
.button.buy-company:hover,
.button.buy-bank {
  border: solid 1px #0072ca;
  background: #0072ca;
  color: #fff;
}

.list-bank__logo {
  img {
    width: 27px;
  }
}

.list-bank {
  .list-radio.for-bank {
    min-height: 69px;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .menu__item {
    margin: 11px 0px 0 20px;
  }

  .box-phone {
    padding-right: 20px;
  }

}

@media (min-width: 768px) and (max-width: 933px) {
  .menu__item a {
    font-size: 13px;
  }
  .menu__item {
    margin: 11px 0 0 4px;
  }
}

@media (min-width: 1033px) and (max-width: 1172px) {
  .menu__item {
    margin: 9px 17px 0 25px;
  }
}

@media (min-width: 990px) and (max-width: 1100px) {

  .header-right__right-bomile {
    min-width: inherit;
  }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {

  .box-phone__phone {
    font-size: 18px;
    line-height: 20px;
  }
}

.account-icon {
  display: inline-block;
  &:before {
    content: '';
    width: 18px;
    height: 19px;
    background-size: 18px 19px;
    content: '';
    background-image: url("/img/icon_user.png");
    display: inline-block;
    margin-right: 13px;
    position: relative;
    top: 4px;
  }
}

.logout-icon {
  display: inline-block;
  &:before {
    content: '';
    width: 18px;
    height: 19px;
    background-size: 18px 19px;
    content: '';
    background-image: url("/img/icon_logout@2x.png");
    display: inline-block;
    margin-right: 13px;
    position: relative;
    top: 4px;

  }
}

.name-login.mobile {

  @media screen and (min-width: 768px) {

    display: none;
  }

}

.button-account, .button-logout {
  vertical-align: top;
  width: auto;
  height: 36px;
  border: solid 1px #d7d6d6;
  border-radius: 18px;
  font-size: 14px;
  color: #000000;
  padding: 10px 0 0 17px;
  font-family: 'ProximaNova';
  position: relative;
  text-shadow: 0 0 0;
  margin: 0 0px 0 14px;
  text-align: left;

  display: inline-block;

  @media screen and (min-width: 767px) {
    display: none;
  }

  &:before {
    float: right;
    top: -3px;
    margin: 0 15px 0 10px;
  }
}

.menu {

  &.user-menu {
    display: none;
    margin-left: 0;

    @media screen and (min-width: 767px) {
      display: inline-block;
    }

    margin-right: 0px;

    .name-login {
      padding: 9px 35px 0 17px;
      cursor: pointer;

      margin-left: 4px;
    }

    & > .menu__item {
      margin: 0;
    }

    .drop-menu__cont {
      min-width: 171px;
    }

    .drop-menu {
      left: 5px;
      top: 52px;
    }

    .menu__item .menu .menu__link {
      font-size: 16px;
    }

    .menu__item:before {
      top: 34px;
      margin-left: -40px;
    }
  }
}

.box-field {
  &.popup-list {
    margin-top: 20px;

    .box-field__input {
      padding-left: 30px;
    }

    .checkbox_popup {
      top: 6px;
    }

  }

}

.list-sections-faq__item {

  &.color3 {
    .list-sections-faq__link {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#123256+0,163e6a+42,123256+100 */
      background: #123256; /* Old browsers */
      background: -moz-linear-gradient(left, #123256 0%, #163e6a 42%, #123256 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #123256 0%, #163e6a 42%, #123256 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #123256 0%, #163e6a 42%, #123256 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#123256', endColorstr='#123256', GradientType=1); /* IE6-9 */

    }
  }

  &.color4 {
    .list-sections-faq__link {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a8a8a8+0,c0c0c0+42,a8a8a8+100 */
      background: #a8a8a8; /* Old browsers */
      background: -moz-linear-gradient(left, #a8a8a8 0%, #c0c0c0 42%, #a8a8a8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #a8a8a8 0%, #c0c0c0 42%, #a8a8a8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #a8a8a8 0%, #c0c0c0 42%, #a8a8a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8a8a8', endColorstr='#a8a8a8', GradientType=1); /* IE6-9 */

    }
  }

  &.color5 {
    .list-sections-faq__link {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ab1008+0,bc2715+42,ab1008+100 */
      background: #ab1008; /* Old browsers */
      background: -moz-linear-gradient(left, #ab1008 0%, #bc2715 42%, #ab1008 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #ab1008 0%, #bc2715 42%, #ab1008 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #ab1008 0%, #bc2715 42%, #ab1008 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab1008', endColorstr='#ab1008', GradientType=1); /* IE6-9 */

    }
  }
}

.list-sections-faq.how-to {
  .list-faq {
    max-width: 1140px;
  }
}

.list-faq {

  .row {
    display: block;
    clear: both;
    width: 100%;
  }

  .image {

    width: 30%;
    margin-right: 3%;

    float: left;

    img {
      width: 100%;
      max-width: 100%;
    }

    &.last {
      margin-right: 0;

      &::after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
      }
    }

    .caption {
      font-size: 13px;
      line-height: 24px;
      color: #9a9999;
      padding: 10px 5px;
      line-height: 18px;
      height: 95px;
    }
  }
}

.jq-selectbox {
  &.standart-input {

  }

  .jq-selectbox__select {
    position: absolute !important;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 9px;
  }

  .jq-selectbox__trigger {
    border: none;
  }

  .jq-selectbox__dropdown {
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: transparent;
    left: -1px;
    right: -1px;
    border-top: none;
    top: 3px !important;
    overflow: hidden;

    padding-top: 25px;

    bottom: auto !important;

    ul {
      background-color: #fff;
      padding-top: 5px;
    }

    li:hover {
      color: #9a9999;

    }
  }

}

.buy-message {
  background-color: #fff;
  box-shadow: 0 0 10px black;
  padding: 20px;
}

.cookies-message {

  @media screen and (max-width: 865px) {
    display: none;
  }

  height: 30px;
  background-color: #FF9500;
  color: #fff;
  line-height: 30px;
  font-size: 13px;

  transition: background-color .3s;

  .inner {
    max-width: 865px;
  }

  .cookie-agree {
    text-decoration: underline;
    display: inline-block;
    margin-right: 30px;

  }

  .to-right {
    float: right;
  }

  a {
    color: #fff;
  }

  .button {
    position: relative;
    top: 3px;
    margin: 0 0 0 20px;
    float: right;
  }

  &:hover {
    // background-color: rgba(0, 0, 0, 1);
    transition: background-color .3s;
  }

}

.window-open {
  &#win_2, &#win_3 {
    min-width: 714px;
    padding-top: 52px;
  }
}

button.popup-button {
  background-color: #fff;
}

body.loaded {
  overflow: hidden;
}

.footer-right {
  .list-payments {
    img {
      width: 41px;
    }
  }
}

.box-language__icon {
  background-size: 36px;
}

.ru {
  @media(min-width: 992px) and (max-width: 1033px) {

    .top {
      .item2 {
        .box-grid__title {
          height: 77px;
        }
      }

      .box-grid__text {
        height: 55px;
      }
    }
  }
}

.box-grid__item-button {
  line-height: 20px;
}

.es {

  @media(min-width: 992px) and (max-width: 1080px) {

    .box-grid__price.big {
      font-size: 15px;
    }

    .box-grid__item-button {
      line-height: 22px;
    }
  }

  @media(min-width: 992px) and (max-width: 1155px) {

    .top {

      .item2 {
        .box-grid__title {
          height: 77px;
        }
      }

      .box-grid__text {
        height: 55px;
      }
    }
  }
}

.ru {

  #special_offers_page {

    .text-list-grid {
      height: 132px;
    }

    @media(min-width: 953px) and (max-width: 1100px) {
      .text-list-grid {
        height: 140px;
      }
    }

    @media(min-width: 952px) and (max-width: 954px) {

      .item6 {
        .text-list-grid {
          min-height: 176px;
        }
      }
    }

    @media(min-width: 850px) and (max-width: 953px) {

      .text-list-grid {
        height: 140px;
      }

      .item6 {
        .text-list-grid {
          height: 175px;
        }
      }
    }
  }

  @media(min-width: 992px) and (max-width: 1028px) {

    .bottom .box-grid__line-ptice_mod {
      margin-top: 17px;
    }
  }
}

.en {

  #special_offers_page {

    .text-list-grid {
      min-height: 132px;
    }

    @media(min-width: 850px) and (max-width: 853px) {
      .text-list-grid {

        min-height: 152px;
      }
    }

  }

  @media(min-width: 992px) and (max-width: 1028px) {

    .bottom .box-grid__line-ptice_mod {
      margin-top: 17px;
    }
  }

}

.de {

  @media(min-width: 774px) {

    .bottom .box-grid__item.white .box-grid__text {
      height: 63px;
    }

    .bottom .box-grid__line-ptice_mod {
      margin-top: 17px;
    }
  }

}

.es {

  @media(min-width: 992px) and (max-width: 1052px) {

    .bottom .box-grid__item.white .box-grid__text {
      height: 63px;
    }

    .bottom .box-grid__line-ptice_mod {
      margin-top: 17px;
    }
  }

  #special_offers_page {

    @media (min-width: 850px) and (max-width: 904px) {

      .box-grid__price.big {
        font-size: 18px;
      }
    }

    @media (min-width: 904px) {

      .box-grid__price.big {
        font-size: 24px;
      }
    }

    @media (min-width: 850px) and (max-width: 903px) {

      .text-list-grid {
        height: 138px;
      }

      .item6 {
        .text-list-grid {
          height: 174px;
        }
      }
    }

    @media (min-width: 904px) {

      .text-list-grid {
        height: 133px;
      }
    }

  }
}

.de {
  #special_offers_page {

    @media (min-width: 850px) and (max-width: 904px) {

      .box-grid__price.big {
        font-size: 18px;
        padding-right: 9px;
      }
    }

    @media (min-width: 904px) {

      .box-grid__price.big {
        font-size: 24px;
      }
    }

    @media (min-width: 850px) and (max-width: 885px) {

      .text-list-grid {
        height: 160px;
      }
    }

  }
}

button.button {
  margin: 0;
  padding: 0;
}

.worning-form {
  border: solid 1px #ffa106;
  border-radius: 4px;
  width: 100%;
  max-width: 290px;
  padding: 10px 20px 10px 20px;
  margin: 38px 0 0 0;
  // margin: 54px 0 0 0;
  min-height: 58px;
  position: relative;

  &.long {
    max-width: 336px;
    width: 100%;
    min-height: 5px;
  }

  p {
    line-height: 16px;
  }

  ul, ul li {
    line-height: 16px;
    font-size: 14px;
    color: #ffa106;
    list-style: none;
  }
}

.standart-input {
  &.error {
    border: solid 1px #ffa106;
  }
}

.success-message {
  border: solid 1px green;
  color: green;
  border-radius: 4px;
  width: 100%;
  max-width: 290px;
  padding: 8px 20px 8px 20px;
  margin: 54px 0 0 0;
  min-height: 58px;
  position: relative;

  p {
    color: green;

  }

  &.long {
    max-width: 336px;
    width: 100%;
    min-height: 75px;
  }
}

body {
  display: table;
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
  display: table-row;
  height: auto;

}

.main-wrapper {
  display: table-row;
  height: 100%;
}

.form-edit-password {
  padding-bottom: 150px;
}

.text-small {
  font-size: 13px;
  a {
    text-decoration: underline;
  }
}

.jq-radio {
  &.checked .jq-radio__div {
    margin: 2px 0 0 2px;
  }
  &.focused {
    border: 1px solid rgb(179, 179, 179);
  }
}

.list-radio.for-payment {
  .radio {
    width: 20px;
    display: inline-block;
  }
  .list-radio__icon img {
    vertical-align: middle;
    margin-left: 10px;
    &:first-child {
      margin: 0;
    }
  }
}

.add-to-cart-offshore {
  position: absolute;
  left: 50%;

  width: 715px;
  height: auto;
  margin-left: -(715px / 2);
  top: 130px;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.20);

  z-index: 1001;
  border-radius: 20px;

  overflow: hidden;

  opacity: 1;
  transition: opacity .3s;

  &.hide {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity .3s;

  }

  .close-popup {
    top: 17px;
    right: 17px;
    position: absolute;
    height: 8px;
    width: 8px;
  }
}

.add-to-cart-special {
  position: absolute;
  left: 50%;
  width: 715px;
  height: auto;
  margin-left: -(715px / 2);
  top: 130px;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.20);
  margin-bottom: 50px;

  z-index: 1001;
  border-radius: 20px;

  overflow: hidden;

  opacity: 1;
  transition: opacity .3s;

  &.hide {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity .3s;

  }

  .close-popup {
    top: 17px;
    right: 17px;
    position: absolute;
    height: 8px;
    width: 8px;
  }

  .jq-radio.checked .jq-radio__div {
    margin: 3px 0 0 3px;
  }
}

.box-field.popup-list.rules-list {
  margin-top: 40px;
  .box-field__input {
    padding-left: 0;
  }

  a {
    border-bottom: 1px dotted #bfbfbf;
    &:hover {
      border: 0;
    }
  }
}

.icheckbox_square-grey {
  display: inline-block;
  float: left;
  margin-right: 20px !important;
}

.popup-list__item-col.price {
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

.shopping-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  min-width: 100%;
  min-height: 199%;
  z-index: 10;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.shopping-background.hide {
  visibility: hidden;
}

.sub-page h1,
.wrapper h1 {
  padding-top: 37px;
  font-size: 40px;
  line-height: 48px;
  padding-top: 3px;
}

.jq-selectbox.standart-input {
  height: 38px;
}

.jq-selectbox__select {
  width: 100%;
  border: none;
  background: #fff;
  box-shadow: none;

  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 14px;
  color: #000
}

.jq-selectbox__select:hover {
  background: none;
}

#meter .entropizer-track {
  height: 5px;
  margin-top: 7px;
  margin-left: 10px;
  width: 92%;
}

.iti-flag {
  background-image: url("/img/flags@2x.png");
}

.hidden {
  display: none;
  visibility: hidden;
}

.paypall-form {
  margin: 0 auto;
}

.line-total-form .paypal-button {
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
}

.paypal-button.hidden {
  display: none;
}

.jq-selectbox li:hover {
  background: none;
}

.jq-selectbox li.selected {
  color: rgba(0, 0, 0, 0.37);
  background: none;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 0;
}

.jq-selectbox .jq-selectbox__select {
  height: 36px;
}

.intl-tel-input .country-list {
  z-index: 9999 !important;
}

@media(min-width: 992px) and (max-width: 1052px) {

}

.success-form {
  border: solid 1px #0ea432;
  border-radius: 4px;
  width: 100%;
  max-width: 290px;
  padding: 8px 20px 8px 20px;
  margin: 38px 0 0 0;
  min-height: 58px;
  position: relative;
}

.success-form p {
  color: #0ea432;
}

/* iCheck plugin Minimal skin, black
----------------------------------- */
/* iCheck plugin Square skin, grey
----------------------------------- */
.icheckbox_square-grey,
.iradio_square-grey {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url('/img/grey.png') no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-grey {
  background-position: 0 0;
}

.icheckbox_square-grey.hover {
  background-position: -24px 0;
}

.icheckbox_square-grey.checked {
  background-position: -48px 0;
}

.icheckbox_square-grey.disabled {
  background-position: -72px 0;
  cursor: default;
}

.icheckbox_square-grey.checked.disabled {
  background-position: -96px 0;
}

.iradio_square-grey {
  background-position: -120px 0;
}

.iradio_square-grey.hover {
  background-position: -144px 0;
}

.iradio_square-grey.checked {
  background-position: -168px 0;
}

.iradio_square-grey.disabled {
  background-position: -192px 0;
  cursor: default;
}

.iradio_square-grey.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_square-grey,
  .iradio_square-grey {
    background-image: url('/img/grey@2x.png');
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px;
  }
}

.icheckbox_square-grey {
  margin-right: 10px !important;
}

@media (max-width: 1172px) and (min-width: 1033px) {
  .menu__item {
    margin: 9px 17px 0 22px;
  }
}

@media(max-width: 787px) {
  .add-to-cart-special,
  .add-to-cart-offshore {
    left: 0;
    width: 100%;
    margin-left: 0;
    top: 0;
    border-radius: 0;
  }

}

.wrapper.store-cart {
  min-height: 250px;
}

.list-radio__name {
  display: inline-block;
  width: 83%;
}

.list-bank__logo.bank_11 img {
  width: 40px;
}

.list-bank__logo.bank_12 img {
  width: 60px;
}

.list-bank__logo.bank_13 img {
  width: 80px;
}

.special-parent-block .box-grid__column.col50.col100-tablet {
  position: relative;
}

.special-parent-block .box-grid__line-ptice.long {
  position: absolute;
  top: 270px;
  margin-left: 34px;
  width: 83%;
}

select::-moz-focus-inner {
  border: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.item2.mh1 .box-grid__line-ptice {
  margin-top: 24px;
}

.de .item1.mh2 .box-grid__line-ptice {
  margin-top: 5px;
}

@media(max-width: 1168px) and (min-width: 1156px) {
  .es .item2.mh1 .box-grid__line-ptice {
    margin-top: 1px;
  }
}

@media(max-width: 1081px) and (min-width: 992px) {
  .ru .item1.mh2 .box-grid__line-ptice {
    margin-top: 2px;
  }
}

label.error {
  border: solid 1px #ffa106;
  border-radius: 4px;
  width: 100%;
  padding: 10px 20px 10px 20px;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #ffa106;
  margin-bottom: 20px;

  &:before {
    background: url('/img/arrow_worning_form.png') no-repeat left top;
    width: 26px;
    height: 25px;
    content: '';
    position: absolute;
    left: 17px;
    bottom: -25px;
    display: block;
  }

}

#order-form .w50, #user_edit_form .w50, #registration-form .w50 {
  vertical-align: bottom;
}

#user_password_second {
  margin-bottom: 13px;
}

.m-10-t {
  margin-top: 10px;
}

.m-10-b {
  margin-bottom: 10px;
}

.m-20-t {
  margin-top: 20px;
}

.m-20-b {
  margin-bottom: 20px;
}

.worning-form a {
  font-size: 14px;
  color: #ffa106;
  border-bottom: 1px dotted;
  &:hover {
    border-bottom: 0;
  }
}

//license style

.license {
  .big-text {
    margin-bottom: 40px;
  }
  ul {
    margin-top: 0;
  }
  .col-md-4 {
    width: 33.3%;
    display: inline-table;
    padding-right: 70px;
    h3 {
      margin-top: 12px;
    }
    p {
      padding: 16px 0 40px 0;
    }
    .last {
      margin-right: 0;
    }

    h2 {
      margin-bottom: 17px;
    }
  }
  @media(max-width: 1000px) and (min-width: 682px) {
    .col-md-4 {
      width: 50%;
    }
  }
  @media(max-width: 682px) {
    .col-md-4 {
      width: 100%;
    }
  }
  .text-page__section {
    margin-left: 20px;
  }
  .list-text {
    max-width: 800px;
  }
  .advantage, .first-step, .business-type, .support {
    padding: 0 15px;
    margin: 0 0 33px 0;
  }

  .advantage {
    margin-bottom: 13px;
  }

  .text-page.license {
    padding: 24px 0 150px 0;
  }

  .business-type {
    background-color: #f7f7f7;
    padding-bottom: 33px;
    margin-bottom: 78px;
    span {
      color: #29a96d;
    }
    h2 {
      padding-top: 36px;
    }
    .list-text__item:before {
      background: #29a96d;
    }
  }

  .first-step h3 {
    margin-bottom: 21px;
  }

  .support {
    position: relative;
    top: 7px;
    border: 1px solid #e9371f;
    margin-bottom: 50px;
    padding-top: 15px;
    img {
      margin: 0 0 20px -5px;
    }
    h3 {
      color: #e9371f;
      margin-bottom: 26px;
    }
    p.big-text {
      margin-bottom: 15px;
    }
  }
  .text-page__section.size2 {
    max-width: initial;
  }
  .text-page__section.size2 p,
  .text-page__section.size2 h2 {
    max-width: 800px;
  }
}

@media(min-width: 768px) and (max-width: 858px){
  .list-bank__title.bank11 {
    height: 48px;
  }
}
