.ui.vertical.menu {
  margin-top: -1px !important;
  width: 100%;
  display: none;
}

div.a2lix_translationsFields > div,
ul.a2lix_translationsLocales li a {
  border: 0 !important;
}

.main-page img {
  max-width: 100%;
}
