{% extends 'admin-base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block title %}Редактирование {{ page.title }}{% endblock %}
{% block body %}
    <div class="ui container main-page">
        <h1 class="ui center aligned header">Редактирование {{ page.title }}</h1>
        {{ form_start(edit_form, {'attr': {'class': 'ui form'}}) }}
        <div class="field">
            {{ form_widget(edit_form.translations) }}
        </div>
        <div class="field">
            {{ form_label(edit_form.link) }}
            {{ form_errors(edit_form.link) }}
            {{ form_widget(edit_form.link) }}
        </div>

        <div class="field">
            <br/>
            <button class="btn btn-success" type="submit">
                <i class="write icon"></i> Сохранить изменения
            </button>
        </div>
        {{ form_end(edit_form) }}
        <hr/>
        {{ form_start(delete_form) }}
        <button class="btn btn-sm btn-danger pull-right" type="submit" onclick="return confirm('Вы уверены');">
            <i class="warning sign icon"></i> Удалить
        </button>
        {{ form_end(delete_form) }}
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ include('@Finance/Admin/page/froala-plugins.html.twig') }}
    {% endblock %}
{% endblock %}
