{% javascripts filter='uglifyjs2'
'bundles/kmsfroalaeditor/froala_editor_2.5.1/js/froala_editor.min.js'
'bundles/kmsfroalaeditor/froala_editor_2.5.1/js/plugins/code_view.min.js'
'bundles/kmsfroalaeditor/froala_editor_2.5.1/js/plugins/align.min.js'
'bundles/kmsfroalaeditor/froala_editor_2.5.1/js/plugins/font_size.min.js'
'bundles/kmsfroalaeditor/froala_editor_2.5.1/js/plugins/font_family.min.js'
'bundles/kmsfroalaeditor/froala_editor_2.5.1/js/plugins/link.min.js'
'bundles/kmsfroalaeditor/froala_editor_2.5.1/js/plugins/paragraph_format.min.js'
'bundles/kmsfroalaeditor/froala_editor_2.5.1/js/plugins/paragraph_style.min.js'
'bundles/kmsfroalaeditor/froala_editor_2.5.1/js/plugins/code_beautifier.min.js' %}

<script src="{{ asset_url }}"></script>
{% endjavascripts %}
