{% extends 'admin-base.html.twig' %}
{% block title %}Список страниц{% endblock %}
{% block body %}
    <div class="ui container main-page text">
        <h1 class="ui center aligned header">Список страниц</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Заголовок</th>
                <th>Ссылка</th>
                <th>Редактировать</th>
            </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td><a href="{{ path('admin_page_edit', { 'id': page.id }) }}">{{ page.id }}</a></td>
                    <td>{{ page.title | raw }}</td>
                    <td>
                        <a href="{{ path('finance_page', {'link':  page.link }) }}">
                            {{- page.link -}}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           title="Редактировать"
                           href="{{ path('admin_page_edit', { 'id': page.id }) }}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="full-width">
            <tr>
                <th colspan="4">
                    <a href="{{ path('admin_page_new') }}"
                       class="ui right floated small primary labeled icon button">
                        <i class="user icon"></i> Добавить новую страницы
                    </a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
