{% extends 'admin-base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}Создание новой страницы{% endblock %}
{% block body %}
    <div class="ui container main-page">
        <h1 class="ui center aligned header">Создание новой страницы</h1>

        <div class="ui">
            {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
            <div class="field">
                {{ form_widget(form.translations) }}
            </div>

            <div class="field">
                {{ form_label(form.link) }}
                {{ form_errors(form.link) }}
                {{ form_widget(form.link) }}
            </div>

            <div class="field">
                <br/>
                <button class="btn btn-success" type="submit">
                    <i class="write icon"></i> Сохранить изменения
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ include('@Finance/Admin/page/froala-plugins.html.twig') }}
    {% endblock %}
{% endblock %}
