<mjml>
    <mj-head>
        {% include '@Finance/Emails/parts/head.mjml.twig' %}
        <mj-title>{{ "Ваш заказ" | trans }} {{ "был отправлен" | trans }}</mj-title>
    </mj-head>
    <mj-body>
        <mj-container>
            <mj-section>
                <mj-column>
                    <mj-image src="{{ asset('/img/logo@2x.png') }}"></mj-image>
                    <mj-text mj-class="h1">{{ "Ваш заказ" | trans }} #{{ orderId }} {{ "был отправлен" | trans }}</mj-text>
                    <mj-text mj-class="bold pb-15">{{ "Перевозчик" | trans }}: <span style="red">{{ carrier }}</span></mj-text>
                    <mj-text mj-class="bold pb-23">{{ "Номер отслеживания" | trans }}:  <span style="red">{{ tracking_number }}</span></mj-text>
                    <mj-text fmj-class="secondary">{{ "Вы можете отследить свою посылку онлайн" | trans }}</mj-text>
                    <mj-link href="{{ tracking_link }}" mj-class="link pb-60">{{ tracking_link }}</mj-link>
                    <mj-text mj-class="h2"> {{ "Информация о заказе" | trans }}</mj-text>
                    <mj-text mj-class="bold pb-13">
                        {#{{inc @index}}. {{title}}#}
                    </mj-text>
                    <mj-text class="label pb-13">
                        {{note}}
                    </mj-text>
                    <mj-text class="price">
                        &euro;	{{price}}
                    </mj-text>
                    <mj-divider class="br"></mj-divider>
                    <mj-text class="big price">
                        &euro;	{{total}}
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>
