<mjml>
    <mj-head>
        {% include '@Finance/Emails/parts/head.mjml.twig' %}
        <mj-title>{{ 'Подтверждение регистрации' | trans }}</mj-title>
    </mj-head>
    <mj-body>
        <mj-container>
            <mj-section>
                <mj-column>
                    <mj-image src="{{ asset('/img/logo@2x.png') }}" mj-class="logo"></mj-image>
                    <mj-text mj-class="h1 pb-60">{{ 'Подтверждение регистрации' | trans }}</mj-text>
                    <mj-text mj-class="h2">{{ 'Благодарим Вас за присоединение к Fintech Finance!' | trans }}</mj-text>
                    <mj-text mj-class="secondary">
                        {{ 'Пожалуйста нажмите на кнопку или нажмите на ссылку чтобы завершить регистрацию' | trans }}
                        {{ 'Обратите внимание что неподтвержденная учетная запись будет удалена через 10 дней' | trans}}
                    </mj-text>
                    <mj-button href="{{ absolute_url(path('finance_confirm_account', {'hash': hash}, true)) }}" mj-class="button pb-30">
                        {{ 'Подтвердить' | trans}}
                    </mj-button>
                    <mj-text mj-class="secondary">
                        {{ 'Если ссылка не открывается скопируйте ее в адресную строку браузера' | trans}}
                    </mj-text>
                    <mj-text mj-class="link">
                        {{ absolute_url(path('finance_confirm_account', {'hash': hash}, true)) }}
                    </mj-text>
                    {% include '@Finance/Emails/parts/footer.mjml.twig' %}
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>
