<mjml>
    <mj-head>
        {% include '@Finance/Emails/parts/head.mjml.twig' %}
        <mj-title>{{ 'Изменить пароль' | trans }}</mj-title>
    </mj-head>
    <mj-body>
        <mj-container>
            <mj-section>
                <mj-column>
                    <mj-image src="{{ asset('/img/logo@2x.png') }}" mj-class="logo"></mj-image>
                    <mj-text mj-class="h1 pb-40">
                        {{ 'Изменить пароль' | trans }}
                    </mj-text>
                    <mj-text mj-class="text">
                        {{ 'Этот email был отправлен потому что с Вашей учетной записи был запрос на изменение пароля' | trans }}.
                    </mj-text>
                    <mj-button href="{{ absolute_url(path('finance_reset_password', {'hash': hash}, true)) }}" mj-class="button">
                        {{ 'Изменить пароль' | trans }}
                    </mj-button>
                    <mj-text mj-class="text">
                        {{ 'Для начала изменения пароля нажмите на ссылку. Если ссылка не откроется, скопируйте ее в адресную строку Вашего браузера' | trans }}.
                    </mj-text>
                    <mj-text mj-class="small pt-0" color="#000">
                        {{ absolute_url(path('finance_reset_password', {'hash': hash}, true)) }}
                    </mj-text>
                    {% include '@Finance/Emails/parts/footer.mjml.twig' %}
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>
