{% extends 'FinanceBundle::layout.html.twig' %}
{% block title %}{% if page.title %}{{- page.title | striptags }}{% endif %}{% endblock %}
{% block stylesheet %}
    {{ parent() }}

    {% stylesheets
    'assets/vendor/intl-tel-input/build/css/intlTelInput.css'
    filter='uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="wrapper">
            <div class="content">
                <div class="wrapper">
                    <div class="box-form-reg for-contacts">
                        {{ form_start(form, {'attr': {'class': 'column-form', 'id':'contact-form'} }) }}
                        {% if page.title %}
                            <h1 style="padding: 0">{{ page.title | raw }}</h1>
                        {% endif %}
                        {% if messageSent %}
                            <div class="success-form long">
                                <p>{{ 'Сообщение отправлено' | trans }}</p>
                            </div>
                        {% endif %}
                        {%- if form_errors|length > 0 -%}
                            <div class="worning-form long">
                                {%- for error in form_errors -%}
                                    <p>{{ error.message | trans }}</p>
                                {%- endfor -%}
                            </div>
                        {%- endif -%}
                        <div class="box-form__cont">
                            <div class="box-field">
                                <label>{{ 'Имя~' | trans }}*</label>
                                <div class="box-field__input">
                                    {{ form_widget(form.name, {'attr': {'class': 'standart-input'} }) }}
                                </div>
                            </div>
                            <div class="box-field">
                                <label>{{ 'Адрес электронной почты' | trans }} *</label>
                                <div class="box-field__input">
                                    {{ form_widget(form.email, {'attr': {'class': 'standart-input'} }) }}
                                </div>
                            </div>
                            <div class="box-field">
                                <label>{{ 'Номер телефона' | trans }}*</label>
                                <div class="box-field__input">
                                    {{ form_widget(form.phone, {'attr': {'class': 'standart-input'} }) }}
                                </div>
                            </div>
                            <div class="box-field">
                                <label>{{ 'Тема' | trans }} *</label>
                                <div class="box-field__input">
                                    {{ form_widget(form.theme, {'attr': {'class': 'standart-input js-styled'} }) }}
                                </div>
                            </div>
                            <div class="box-field">
                                <label>{{ 'Текст сообщения' | trans }} *</label>
                                <div class="box-field__input">
                                    {{ form_widget(form.text, {'attr': {'class': 'standart-input'} }) }}
                                </div>
                            </div>
                            <div class="line-buttons-form"><input class="button button_form" type="submit"
                                                                  value="{{ 'Отправить' | trans }}"></div>
                            <div class="worning-form long">
                                <p>{{ 'Поля отмеченные звездочкой обязательны для заполнения' | trans }}</p>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        <input type="hidden" name="js_on" id="js_on" value="0" />
                        {{ form_end(form) }}

                        {% if page.text %}
                            {{ page.text | raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    {{ parent() }}
    {% include 'FinanceBundle:Partials:validation-translation.html.twig' %}
    {% javascripts
    'assets/vendor/intl-tel-input/build/js/intlTelInput.min.js'
    'assets/vendor/intl-tel-input/build/js/utils.js'
    '@FinanceBundle/Resources/public/js/forms.js'
    '@FinanceBundle/Resources/public/js/validation/phone-validation.js'
    '@FinanceBundle/Resources/public/js/validation/contact-form.js'
    filter='uglifyjs2' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        var date = new Date();

        document.getElementById("js_on").value = date.getFullYear();

    </script>
{% endblock %}
