<mj-font name="GothamPro" href="{{ asset('/fonts/GothamPro.css') }}"/>
<mj-font name="ProximaNova" href="{{ asset('/fonts/ProximaNova.css') }}"/>

<mj-attributes>
    <mj-all
            font-size="18"
            font-family="ProximaNova, Arial, sans-serif"
    />
    <mj-text
            font-family="ProximaNova, Arial, sans-serif"
            color="#000"
            line-height="20px"/>

    <mj-container width="670px"/>
    <mj-class name="h1"
              font-family="GothamPro, Helvetica"
              font-weight="900"
              font-size="30px"
              line-height="40px" />

    <mj-class name="text"
              color="#9c9a9a"
              font-size="18px"
              font-family="ProximaNova, Arial, sans-serif"/>

    <mj-class name="logo"
              align="left"
              width="268px"
              padding-bottom="25px"/>

    <mj-class name="h2"
              font-size="24"
              font-weight="bold"
              color="#b91616"
              font-family="ProximaNova, Arial, sans-serif"
              padding-bottom="20px"/>

    <mj-class name="red" color="#b91616"/>

    <mj-class name="pt-0" padding-top="0"/>

    <mj-class name="pb-13" padding-bottom="13px"/>

    <mj-class name="pb-15" padding-bottom="15px"/>

    <mj-class name="pb-20" padding-bottom="20px"/>

    <mj-class name="pb-23" padding-bottom="23px"/>

    <mj-class name="pb-30" padding-bottom="30px"/>

    <mj-class name="pb-40" padding-bottom="40px"/>

    <mj-class name="pb-60" padding-bottom="60px"/>

    <mj-class name="bold" font-weight="bold"/>

    <mj-class name="link-pad" padding-left="13px"/>

    <mj-class name="link"
              color="#000"
              line-height="24px"
              font-family="ProximaNova, Arial, sans-serif"
              padding-top="5px"
              padding-bottom="0"
              text-decoration="underline"
              text-transform="none"/>

    <mj-class name="price"
              font-weight="bold"
              font-style="italic"
              padding-bottom="33px"
              font-family="GothamPro, Arial, sans-serif"/>

    <mj-class name="phone"
              font-weight="bold"
              font-family="GothamPro, Arial, sans-serif"/>

    <mj-class name="big"
              font-weight="bold"
              font-size="30px"
              line-height="34px"
              padding-top="17px"
              padding-bottom="20px"/>

    <mj-class name="small"
              color="#9a9999"
              font-size="12px"
              line-height="34px"
              padding-top="17px"
              padding-bottom="20px"/>

    <mj-class name="note"
              color="#9a9999"
              font-size="14px"
              line-height="20px"/>

    <mj-class name="label"
              color="#9a9999"
              font-size="14px"
              padding-bottom="5px"/>

    <mj-class name="secondary"
              color="#9a9999"
              line-height="30px"
              padding-bottom="5px"/>

    <mj-class name="br"
              padding-top="20"
              width="92%"
              padding-bottom="10px"
              padding-left="0"
              padding-right="0"
              border-width="1px"
              border-color="#d7d6d6"/>

    <mj-class name="button"
              border-radius="25px"
              align="left"
              font-size="13px"
              inner-padding="12px 50px"
              background-color="#c70001"
              font-family="ProximaNova, Arial, sans-serif"
              color="#fff"/>
</mj-attributes>
