<mjml>
    <mj-head>
        {% include '@Finance/Emails/parts/head.mjml.twig' %}
        <mj-title>{{ 'Регистрация завершена!' | trans }}</mj-title>
    </mj-head>
    <mj-body>
        <mj-container>
            <mj-section>
                <mj-column>
                    <mj-image src="{{ asset('/img/logo@2x.png') }}" mj-class="logo"></mj-image>
                    <mj-text mj-class="h1 pb-60">{{ 'Регистрация завершена!' | trans }}</mj-text>
                    <mj-text mj-class="h2">{{ 'Регистрационные данные' | trans }}</mj-text>
                    <mj-text mj-class="label">
                        {{ 'Логин' | trans }}
                    </mj-text>
                    <mj-text mj-class="bold pb-60">
                        {{ email }}
                    </mj-text>
                    <mj-text mj-class="h2">{{ 'Личные данные' | trans }}</mj-text>
                    {% if firstName %}
                        <mj-text mj-class="label">
                            {{ 'Имя' | trans }}
                        </mj-text>
                        <mj-text mj-class="bold pb-20">
                            {{ firstName }}
                        </mj-text>
                    {% endif %}
                    {% if lastName %}
                        <mj-text mj-class="label">
                            {{ 'Фамилия' | trans }}
                        </mj-text>
                        <mj-text mj-class="bold pb-20">
                            {{ lastName }}
                        </mj-text>
                    {% endif %}
                    <mj-text mj-class="label">
                        {{ 'Email' | trans }}
                    </mj-text>
                    <mj-text mj-class="bold pb-20">
                        {{ email }}
                    </mj-text>
                    <mj-text mj-class="label">
                        {{ 'Номер телефона' | trans }}
                    </mj-text>
                    <mj-text mj-class="bold">
                        {{ phone }}
                    </mj-text>
                    {% include '@Finance/Emails/parts/footer.mjml.twig' %}
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>
