<footer>
    <div class="footer-top clearfix">
        <div class="wrapper">
            <div class="footer-left hide-mobile"><a class="main-logo" href="/">
                    <img src="{{ asset('/img/logo@2x.png') }}" alt="">
                </a>
                <p class="footer__text">
                    {{- 'Лицензирование финансовых компаний' | trans -}}
                    <br>{{- 'Продажа готовых компаний' | trans -}}
                    <br>{{- 'Юридическое сопровождение' | trans -}}
                </p>
            </div>
            <div class="footer-center">
                {#<ul class="footer-menu">#}
                    {#<li class="footer-menu__item">#}
                        {#<a class="footer-menu__link"#}
                           {#href="{{ path('finance_page', {'link':  'documents/privacy-policy' }) }}">#}
                            {#{{- 'Политика конфиденциальности' | trans -}}#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="footer-menu__item">#}
                        {#<a class="footer-menu__link"#}
                           {#href="{{ path('finance_page', {'link':  'documents/terms-of-business' }) }}">#}
                            {#{{- 'Коммерческие условия' | trans -}}#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="footer-menu__item">#}
                        {#<a class="footer-menu__link"#}
                           {#href="{{ path('finance_page', {'link':  'documents/terms-of-use' }) }}">#}
                            {#{{- 'Условия использования' | trans -}}#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
                {#<ul class="footer-menu">#}
                    {#<li class="footer-menu__item">#}
                        {#<a class="footer-menu__link" href="{{ path('finance_page', {'link':  'kyc' }) }}">#}
                            {#{{- 'Знай своего клиента' | trans -}}#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="footer-menu__item">#}
                        {#<a class="footer-menu__link"#}
                           {#href="{{ path('finance_page', {'link':  'documents/refund-policy' }) }}">#}
                            {#{{- 'Политика Возврата' | trans -}}#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            </div>
            <div class="footer-right">
                <ul class="list-payments">
                    <li class="list-payments__item">
                        <a href="#">
                            <img src="{{ asset('/img/icon_payment_1.png') }}" alt=""/>
                        </a>
                    </li>
                    <li class="list-payments__item">
                        <a href="#">
                            <img src="{{ asset('/img/icon_payment_3.png') }}" alt=""/>
                        </a>
                    </li>
                    <li class="list-payments__item">
                        <a href="#">
                            <img src="{{ asset('/img/icon_payment_4.png') }}" alt=""/>
                        </a>
                    </li>
                    <li class="list-payments__item">
                        <a href="#">
                            <img src="{{ asset('/img/icon_payment_5.png') }}" alt=""/>
                        </a>
                    </li>
                    <li class="list-payments__item">
                        <a href="#">
                            <img src="{{ asset('/img/icon_payment_6.png') }}" alt=""/>
                        </a>
                    </li>
                    <li class="list-payments__item">
                        <a href="#">
                            <img src="{{ asset('/img/icon_payment_7.png') }}" alt=""/>
                        </a>
                    </li>
                    <li class="list-payments__item">
                        <a href="#">
                            <img src="{{ asset('/img/icon_payment_8.png') }}" alt=""/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper">
            <p class="copyright">
                {{- 'Копирайт' | trans -}}
            </p>
        </div>
    </div>
</footer>
