<!-- BEGIN HEADER-->
<header>
    <div class="header-top">
        <div class="wrapper">
            <div class="header-left clearfix">
                <a class="main-logo" href="{{ path('finance_homepage') }}">
                    <img src="{{ asset('/img/logo@2x.png') }}" alt=""/>
                </a>
                <p class="slogan hide-tablet">
                    {{- 'Лицензирование финансовых компаний Продажа готовых компаний Юридическое сопровождение' | trans -}}
                </p>
                <a class="button-menu" href="#">
                    <span class="button-menu__line"></span>
                    <span class="button-menu__line"></span>
                    <span class="button-menu__line"></span>
                </a>
            </div>
            <div class="header-right clearfix">
                <div class="box-phone" style="display: none">
                    <span class="call_phone_1"><a class="box-phone__phone" href="tell:+48223979172">{{- '+48 223 97 91 72' | trans -}}</a></span>
                    <p class="box-phone__time hide-mobile">{{- 'Mon-Fri 8am-6pm EET' | trans -}}</p>
                </div>
                <div class="header-right__right-bomile">
                    <div class="box-language hide-500">
                        <a class="box-language__link" href="#">
                            {% set active_langs = {'ru': 'Rus' , 'en': 'Eng', 'es': 'Esp', 'de': 'Ger' } %}
                            <span class="{{ active_langs[app.request.getLocale()] | lower }} box-language__icon">
                                {{- active_langs[app.request.getLocale()] -}}
                            </span>
                        </a>
                        <div class="box-drop js-list-language">
                            <div class="box-drop__cont">
                                <ul class="list-languages">
                                    {% if is_lang_available('en') %}
                                        <li class="list-languages__item">
                                            <a class="list-languages__link"
                                               href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                                                <span class="eng box-language__icon">Eng</span>
                                                <span class="list-languages__name">English</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if is_lang_available('de') %}
                                        <li class="list-languages__item">
                                            <a class="list-languages__link"
                                               href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}">
                                                <span class="ger box-language__icon">Ger</span>
                                                <span class="list-languages__name">Deutsch</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if is_lang_available('es') %}
                                        <li class="list-languages__item">
                                            <a class="list-languages__link"
                                               href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">
                                                <span class="esp box-language__icon">Esp</span>
                                                <span class="list-languages__name">Español</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if is_lang_available('ru') %}
                                        <li class="list-languages__item">
                                            <a class="list-languages__link"
                                               href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">
                                                <span class="rus box-language__icon">Rus</span>
                                                <span class="list-languages__name">Русский</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a class="button-basket shopping-cart" href="{{ path('finance_user_cart') }}">
                        <span class="button-basket__icon"></span>
                        <span class="button-basket__number basket-counter">{{ cart_item_count() }}</span>
                    </a>
                    {% if app.user %}
                        <a class="name-login hide-500 mobile" href="{{ path('finance_user_account') }}">
                            <span class="name-login__name">
                                <span class="name-login__name-cont">{{ app.user.email }}</span>
                            </span>
                        </a>
                        <ul class="menu user-menu">
                            <li class="menu__item with-drop">
                                <a class="menu__link" href="#">
                                    <span class="name-login hide-500">
                                        <span class="name-login__name">
                                            <span class="name-login__name-cont">{{ app.user.email }}</span>
                                        </span>
                                    </span>
                                </a>
                                <div class="drop-menu">
                                    <div class="drop-menu__cont">
                                        <ul class="menu">
                                            {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_EDITOR') %}
                                                <li class="menu__item">
                                                    <a class="menu__link account-icon"
                                                       href="{{ path('admin_homepage') }}">{{ 'Админ' | trans }}</a>
                                                </li>
                                            {% endif %}
                                            <li class="menu__item">
                                                <a class="menu__link account-icon"
                                                   href="{{ path('finance_user_account') }}">{{ 'Account' | trans }}</a>
                                            </li>
                                            <li class="menu__item">
                                                <a class="menu__link logout-icon"
                                                   href="{{ path('finance_logout') }}">{{ 'Выйти' | trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <a class="button-login hide-500" href="{{ path('finance_login') }}">{{ 'Войти' | trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="wrapper">
            {% if app.user %}
                {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_EDITOR') %}
                    <a class="button-account account-icon for-mobile"
                       href="{{ path('admin_homepage') }}">{{ 'Админ' | trans }}</a>
                {% endif %}
                <a class="button-account account-icon for-mobile"
                   href="{{ path('finance_user_account') }}">{{ 'Account' | trans }}</a>
                <a class="button-logout logout-icon for-mobile"
                   href="{{ path('finance_logout') }}">{{ 'Выйти' | trans }}</a>
            {% else %}
                <a class="button-login for-mobile" href="{{ path('finance_login') }}">{{ 'Войти' | trans }}</a>
            {% endif %}

            <ul class="list-languages for-mobile">
                {% if is_lang_available('en') %}
                    <li class="list-languages__item">
                        <a class="list-languages__link"
                           href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                            <span class="eng box-language__icon">Eng</span>
                            <span class="list-languages__name">English</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_lang_available('de') %}
                    <li class="list-languages__item">
                        <a class="list-languages__link"
                           href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}">
                            <span class="ger box-language__icon">Ger</span>
                            <span class="list-languages__name">Deutsch</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_lang_available('es') %}
                    <li class="list-languages__item">
                        <a class="list-languages__link"
                           href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">
                            <span class="esp box-language__icon">Esp</span>
                            <span class="list-languages__name">Español</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_lang_available('ru') %}
                    <li class="list-languages__item">
                        <a class="list-languages__link"
                           href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">
                            <span class="rus box-language__icon">Rus</span>
                            <span class="list-languages__name">Русский</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="menu">
                <li class="menu__item with-drop"><a class="menu__link" href="#">{{ 'Лицензии' | trans }}</a>
                    <div class="drop-menu">
                        <div class="drop-menu__cont">
                            <ul class="menu">
                                <li class="menu__item">
                                    <a class="menu__link"
                                       href="{{ path('finance_page', {'link':  'license/payment-service-provider' }) }}">
                                        {{- 'Payment Service Provider' | trans -}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="menu__item with-drop"><a class="menu__link" href="#">{{- 'Наши услуги' | trans -}}</a>
                    <div class="drop-menu">
                        <div class="drop-menu__cont">
                            <ul class="menu">
                                <li class="menu__item">
                                    <a class="menu__link" href="{{ path('finance_ready_companies_page') }}">
                                        {{- 'Готовые компании' | trans -}}
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link"
                                       href="{{ path('finance_page', {'link':  'our-services/card-issue' }) }}">
                                        {{- 'Выпуск карт' | trans -}}
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="{{ path('finance_bank_account_page') }}">
                                        {{- 'Банковский счет' | trans -}}
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="{{ path('finance_merchant_account_page') }}">
                                        {{- 'Мерчант аккаунт' | trans -}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="{{ path('finance_special_offers_page') }}">
                        {{- 'Специальные предложения' | trans -}}
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="{{ path('finance_page', {'link':  'faq' }) }}">{{- 'FAQ' | trans -}}</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link"
                       href="{{ path('finance_page', {'link':  'how-to-buy' }) }}">{{- 'Схемы покупки' | trans -}}</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link"
                       href="{{ path('finance_page', {'link':  'partners' }) }}">{{- 'Наши партнеры' | trans -}}</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link"
                       href="{{ path('finance_page', {'link':  'contacts' }) }}">{{- 'Контакты' | trans -}}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
