{% extends 'FinanceBundle::layout.html.twig' %}
{% block title %}{% if page.title %}{{- page.title | striptags }}{% endif %}{% endblock %}
{% block content %}
    <div class="content">
        <div class="wrapper">
            {% if page.title %}
                <h1>{{ page.title | raw }}</h1>
            {% endif %}
            {% block item_page %}{% endblock %}
            {% if page.text %}
                {{ page.text | raw }}
            {% endif %}
        </div>
    </div>
    <div class="shopping-background hide"></div>
{% endblock %}

 {% block javascript %}
     {{ parent() }}
     {% javascripts
     '@FinanceBundle/Resources/public/js/shopping.js'
     filter='uglifyjs2' %}

     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
 {% endblock %}
