{% extends 'admin-base.html.twig' %}

{% block title %}
    Заказ №{{ order.id }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>Просмотр заказа
                    {% include '@Finance/Partials/order-status-list.html.twig' %}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Номер заказа</strong></p>
                <p>
                    №{{ order.id }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Имя</strong></p>
                <p>
                    {{ order.firstName }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Фамилия</strong></p>
                <p>
                    {{ order.lastName }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Страна</strong></p>
                <p>
                    {{ order.country }}
                </p>

            </div>
            <div class="col-md-6">
                <p><strong>Город</strong></p>
                <p>
                    {{ order.city }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Улица</strong></p>
                <p>
                    {{ order.street }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Телефон</strong></p>
                <p>
                    {{ order.phone }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Индекс</strong></p>
                <p>
                    {{ order.zip }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Тип выбранного платежа</strong></p>
                <p>
                    {% if order.payment == 0 %}
                        <span class="label label-primary">Paypal</span>
                    {% else %}
                        <span class="label label-info">Visa/MasterCard</span>
                    {% endif %}
                </p>
            </div>
            {% if order.transactionId %}
            <div class="col-md-12">
                <p><strong>Идентификатор транзакции</strong></p>
                <p>
                    <span class="label label-primary">{{ order.transactionId }}</span>
                </p>
            </div>
            {% endif %}
            <div class="col-md-12">
                <p><strong>Заказанные позиции</strong></p>
                <table class="table table-bordered table-hover table-striped">
                    {% for item in order.items %}
                        {% if item.parent == null %}
                            <tr>
                                <td>
                                    {{ item.name }}
                                    {% for childItem in item.childItems %}
                                        <br/><i>{{ childItem.name }}</i>
                                    {% endfor %}
                                    {% if item.bankItem %}
                                        {% if item.dist %}
                                            {{- 'Персональное присутствие' | trans -}}
                                        {% else  %}
                                            {{- 'Дистанционное открытие' | trans -}}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    &euro; {{ item.cost }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('admin_order') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Вернуться к списку
            </a>
            <a class="btn btn-primary" href="{{ path('admin_order_edit', { 'id':  order.id }) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Редактировать
            </a>
            <a class="btn btn-info" href="{{ path('admin_order_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Создать
            </a>
            <form action="{{ path('admin_order_delete', { 'id': order.id }) }}" method="post"
                  style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Delete
                </button>
            </form>
        </div>
    </div>
{% endblock %}
