{% extends '::admin-base.html.twig' %}

{% block title %}
    Редактировать пользователя
{% endblock %}

{% block body %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>Редактировать пользователя <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h2>
            </div>
        </div>

        <div class="row">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit
                </button>
            </p>
            {{ form_end(edit_form) }}
            <hr/>
            <div class="form-group">
                <a class="btn btn-default" href="{{ path('admin_user') }}">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Вернуться к списку
                </a>
                <a class="btn btn-info" href="{{ path('admin_user_new') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Создать
                </a>
                <form action="{{ path('admin_user_delete', { 'id': user.id }) }}" method="post" style="display: inline-block">
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit" onclick="return confirm('Вы уверены?');">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Удалить
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
