{% extends '::admin-base.html.twig' %}

{% block title %}
    Список пользователей
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Список пользователей</h2>
                </div>
            </div>

            <!-- FILTERING -->
            <div class="col-md-12">
                <div id="filters" class="collapse">
                    <form class="well" action="{{ path('admin_user') }}" method="get">
                        <div class="row">
                            <div class="col-md-6">{{ form_row(filterForm.id) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.email) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.firstName) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.lastName) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.phone) }}</div>

                            <div class="col-md-6">
                                {{ form_rest(filterForm) }}
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning" name="filter_action"
                                            value="filter"><span
                                                class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
                                    </button>
                                    <button type="submit" class="btn btn-default" name="filter_action"
                                            value="reset"><span
                                                class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END FILTERING -->

            <div class="col-md-3 pull-left">
                <!-- PAGE SIZE -->
                <div class="pagination form-inline ">
                    <select class="form-control" onchange="window.location = this.value">
                        <option value='{{ path('admin_user', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>
                            10
                        </option>
                        <option value='{{ path('admin_user', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>
                            20
                        </option>
                        <option value='{{ path('admin_user', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>
                            50
                        </option>
                        <option value='{{ path('admin_user', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>
                            100
                        </option>
                        <option value='{{ path('admin_user', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>
                            500
                        </option>
                    </select>
                </div>
                <!-- END PAGE SIZE -->
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary h3 pull-right" href="{{ path('admin_user_new') }}" style="margin-bottom:10px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Создать
                </a>
                <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
                    Фильтровать
                    <span class="caret"></span>
                </a>
            </div>
            <div class="col-md-12">
                {%- if form_errors(filterForm) %}
                    <div class="alert alert-block alert-error fade in form-errors">
                        {{ form_errors(filterForm) }}
                    </div>
                {% endif %}
            </div>
        </div> <!-- /#top -->

        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <form method="POST" id="bulk_form" action="{{ path('admin_user_bulk_action') }} ">
                    <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"/></th>
                            {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                            <th>{{ macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_user') }}</th>

                            <th>{{ macros.th_sortable('firstName',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_user') }}</th>
                            <th>{{ macros.th_sortable('lastName',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_user') }}</th>

                            <th>{{ macros.th_sortable('email',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_user') }}</th>
                            <th>{{ macros.th_sortable('phone',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_user') }}</th>
                            <th width="130px">List</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();'
                                           class="check-all"
                                           value="{{ user.id }}"/></td>
                                <td><a href="{{ path('admin_user_edit', { 'id': user.id }) }}">{{ user.id }}</a></td>

                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>

                                <td>{{ user.email }}</td>
                                <td>{{ user.phone }}</td>


                                <td class="actions">
                                    <a onclick="return confirm('Вы уверены?');" title="Удалить"
                                       class="btn btn-danger btn-sm"
                                       href="{{ path('admin_user_by_id_delete', { 'id': user.id}) }}">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                    <a title='Показать' class="btn btn-info btn-sm"
                                       href="{{ path('admin_user_show', { 'id': user.id }) }}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a title='Редактировать' class="btn btn-primary btn-sm"
                                       href="{{ path('admin_user_edit', { 'id': user.id }) }}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div> <!-- /#list -->

        <div class="row">
            <div class="col-md-4 pull-left">
                <div class="pagination form-inline ">
                    <select class="form-control" name="bulk_action">
                        <option value="">--Выбрать--</option>
                        <option value="delete">Удалить</option>
                    </select>
                    <input type="submit" id='bulkSubmitBtn' form="bulk_form" class="form-control btn btn-danger btn-sm"
                           disabled>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 text-right">
                {{ pagerHtml|raw }}
            </div>
        </div> <!-- /#bottom -->
    </div>

{% endblock %}
