{% extends '::admin-base.html.twig' %}

{% block title %}
    Создать пользователя
{% endblock %}

{% block body %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>Создать пользователя <span class="glyphicon glyphicon-file" aria-hidden="true"></span></h2>
            </div>
        </div>
        <div class="row">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <p>
                <button type="submit" name="submit" value="save" class="btn btn-primary">
                    Сохранить <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                </button>
                <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info">
                    Сохранить и добавить<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </p>
            {{ form_end(form) }}
            <hr/>
            <div class="form-group">
                <a class="btn btn-default" href="{{ path('admin_user') }}">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Вернуться к списку
                </a>
            </div>
        </div>
    </div>
{% endblock %}
