{% extends '::admin-base.html.twig' %}
{% block title %}
    Пользователь №{{ user.id }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>Пользователь {{ user.id }} <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Id</strong></p>
                <p>
                    {{ user.id }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Имейл</strong></p>
                <p>
                    {{ user.email }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Имя</strong></p>
                <p>
                    {{ user.firstName }} {{ user.lastName }}
                </p>
            </div>

            <div class="col-md-6">
                <p><strong>Телефон</strong></p>
                <p>
                    {{ user.phone }}
                </p>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('admin_user') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Вернуться к списку
            </a>
            <a class="btn btn-primary" href="{{ path('admin_user_edit', { 'id':  user.id }) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Редактировать
            </a>
            <a class="btn btn-info" href="{{ path('admin_user_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Создать
            </a>
            <form action="{{ path('admin_user_delete', { 'id': user.id }) }}" method="post" style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Delete
                </button>
            </form>
        </div>
    </div>
{% endblock %}
