<mjml>
    <mj-head>
        {% include '@Finance/Emails/parts/head.mjml.twig' %}
        <mj-title>{{ 'Ваш запрос находится в обработке' | trans }}</mj-title>
    </mj-head>
    <mj-body>
        <mj-container>
            <mj-section>
                <mj-column>
                    <mj-image src="{{ asset('/img/logo@2x.png') }}" mj-class="logo"></mj-image>
                    <mj-text mj-class="h1 pb-60">{{ 'Ваш запрос находится в обработке' | trans }}</mj-text>
                    <mj-text mj-class="text" color="#000">{{ 'Наш специалист свяжется с вами в ближайшее время' | trans }}</mj-text>
                    {% include '@Finance/Emails/parts/footer.mjml.twig' %}
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>
