{% extends 'FinanceBundle:Layout:itemShoppingLayout.html.twig' %}

{% block item_page %}
    {% include '@Finance/Partials/cart-dialog.html.twig' with {'bank' : false, 'company': true} %}
    <div class="box-bank">
        <div class="box-bank__line-title"><h2
                    class="mini-title">{{- 'Открытие банковского счета для компании' | trans -}}</h2>
            <p>{{- 'Мы открываем счета только на компании приобретенные у нас' | trans -}}
                <br>-&nbsp{{- 'Открытие банковского счета в течении 15 бизнес дней при дистанционном открытии' | trans -}}
                <br>-&nbsp{{- 'Открытие банковского счета в течении 20 бизнес дней при персональном присутствии' | trans -}}
            </p></div>
        <ul class="list-bank">
            {% for item in items %}
                <li class="list-bank__item">
                    <div class="list-bank__logo bank_{{ item.id }}">
                        <a href="#"><img src="{{ asset('/img/bank_' ~ item.id ~ '.png') }}" alt=""/></a>
                    </div>
                    <a class="list-bank__title bank{{ item.id }}" href="#">{{ item.name }} ({{ item.country}})</a>
                    <div class="line-currency">{{- 'Валюты' | trans -}}: <span
                                class="line-currency__active">USD</span> ,<span
                                class="line-currency__active">EUR</span> ,GBP , CHF, JPY, CAD, SEK
                    </div>

                    <form>
                        <ul class="list-radio for-bank">
                            {% if item.distantCost %}
                                <li class="list-radio__item">
                                    <label class="left">
                                        <input class="js-styled"
                                               type="radio"
                                               name="{{ item.id }}"
                                               value="0"
                                               required="required"
                                               data-price="2400"
                                               data-type="0"/>
                                        <div class="list-radio__name">{{- 'Дистанционное открытие' | trans -}}</div>
                                    </label>
                                    <span class="list-bank__ptice">€ {{ item.distantCost }}</span>
                                </li>
                            {% endif %}
                            {% if item.cost %}
                                <li class="list-radio__item">
                                    <label class="left">
                                        <input class="js-styled"
                                               type="radio"
                                               name="{{ item.id }}"
                                               value="1"
                                               required="required"
                                               data-price="1500"
                                               data-type="1"/>
                                        <div class="list-radio__name">{{- 'Персональное присутствие' | trans -}}</div>
                                    </label>
                                    <span class="list-bank__ptice">€ {{ item.cost }}</span>
                                </li>
                            {% endif %}
                        </ul>

                        <button class="button top2" form="storefront_sku_006" data-bank-buy="{{ item.id }}">
                            {{- 'Купить on-line' | trans -}}
                        </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@FinanceBundle/Resources/public/js/shopping-bank.js'
    filter='uglifyjs2' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
