{% extends 'FinanceBundle:Layout:itemShoppingLayout.html.twig' %}

{% block item_page %}
    {% include '@Finance/Partials/cart-dialog.html.twig' with {'bank' : true, 'company': true} %}
    {% for item in items %}
        <div class="box-grid opt2 clearfix">
            <div class="box-grid__column col100">
                <div class="box-grid__item item7 mh4 white">
                    <input type="hidden" value="opt_7" name="items">
                    {{- item.description | raw -}}
                    <div class="box-grid__line-ptice long">
                        <p class="box-grid__price big">&euro; {{ item.cost }}</p>
                        <button class="button mw1" type="submit"
                                data-buy="{{ item.id }}">{{- 'Купить on-line' | trans -}}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
