{% extends 'FinanceBundle:Layout:itemShoppingLayout.html.twig' %}

{% block item_page %}
    {% include '@Finance/Partials/cart-dialog.html.twig' with {'bank' : true, 'company': false} %}
    {% include '@Finance/Partials/cart-offshore.html.twig' %}
    <div class="box-grid opt3 clearfix">
        {% for item in items %}
            <div class="box-grid__column col50 col100-tablet2">
                <div class="box-grid__item {% if loop.index == 1 %} item11 {% elseif loop.index == 2 %} item10 {% else %} item2 {% endif %} mh6">
                    <div class="box-grid__item-cont">
                        {{- item.description | raw -}}
                        <div class="box-grid__line-ptice long ptice_rms">
                            <p class="box-grid__price big">&euro; {{- item.cost -}}</p>
                            {% if loop.index == 1 %}
                                <a class="button mw1 white" href="#win_1"
                                   data-select="{{ item.id }}">{{ 'Выбрать готовую компанию' | trans -}}</a>
                            {% elseif loop.index == 2 %}
                                <a class="button white" href="#">{{ 'сейчас недоступно' | trans -}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@FinanceBundle/Resources/public/js/shopping-offshore.js'
    filter='uglifyjs2' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
