{% extends 'FinanceBundle:Layout:itemShoppingLayout.html.twig' %}

{% block item_page %}
    {% include '@Finance/Partials/cart-dialog.html.twig' with {'bank' : false, 'company': false} %}
    {% include '@Finance/Partials/cart-special.html.twig' %}
    <div class="box-grid box-grid_so clearfix special-parent-block">
        {% for item in items %}
            <div class="box-grid__column col50 col100-tablet">
                <div class="box-grid__item {% if loop.index == 1 %} item5 {% elseif loop.index == 2 %} item6 {% else %} item2 {% endif %} mh3">
                    <div class="box-grid__item-cont" same-height="one">{{- item.description | raw -}}

                    </div>
                </div>
                <div class="box-grid__line-ptice long">
                    <p class="box-grid__price big">&euro; {{- item.cost -}}</p>
                    <a class="button mw1 white" href="#win_2"
                       data-select-special-offer="{{- item.id -}}"
                       data-special-offer-price="{{- item.cost -}}">{{- 'Выбрать банк и компанию' | trans -}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@FinanceBundle/Resources/public/js/shopping-special.js'
    filter='uglifyjs2' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
