{% extends '::admin-base.html.twig' %}

{% block title %}
    Редактирование товара
{% endblock %}

{% block body %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>Редактировать товар <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h2>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form.translations) }}
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Сохранить
                </button>
            </p>
            {{ form_end(edit_form) }}
            <hr/>

            <div class="form-group">
                <a class="btn btn-default" href="{{ path('admin_item') }}">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Вернуться к списку
                </a>
                <a class="btn btn-info" href="{{ path('admin_item_new') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Создать
                </a>
                <form action="{{ path('admin_item_delete', { 'id': item.id }) }}" method="post"
                      style="display: inline-block">
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ include('@Finance/Admin/page/froala-plugins.html.twig') }}
    {% endblock %}
{% endblock %}

