{% extends '::admin-base.html.twig' %}

{% block title %}
    Список товаров
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2><a href="{{ path('admin_item') }}">Item</a></h2>
                </div>
            </div>
            <!-- FILTERING -->
            <div class="col-md-12">
                <div id="filters" class="collapse">

                    <form class="well" action="{{ path('admin_item') }}" method="get">
                        <div class="row">
                            <div class="col-md-6">{{ form_row(filterForm.id) }}</div>
                            {#<div class="col-md-6">{{ form_row(filterForm.name) }}</div>#}
                            <div class="col-md-6">{{ form_row(filterForm.cost) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.country) }}</div>
                            {#<div class="col-md-6">{{ form_row(filterForm.description) }}</div>#}
                            <div class="col-md-6">{{ form_row(filterForm.status) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.created) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.distantCost) }}</div>
                            <div class="col-md-6">
                                {{ form_rest(filterForm) }}
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning" name="filter_action" value="filter">
                                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Фильтровать
                                    </button>
                                    <button type="submit" class="btn btn-default" name="filter_action" value="reset">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Сбросить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END FILTERING -->

            <div class="col-md-3 pull-left">
                <!-- PAGE SIZE -->
                <div class="pagination form-inline ">
                    <select class="form-control" onchange="window.location = this.value">
                        <option value='{{ path('admin_item', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>
                            10
                        </option>
                        <option value='{{ path('admin_item', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>
                            20
                        </option>
                        <option value='{{ path('admin_item', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>
                            50
                        </option>
                        <option value='{{ path('admin_item', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>
                            100
                        </option>
                        <option value='{{ path('admin_item', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>
                            500
                        </option>
                    </select>
                </div>
                <!-- END PAGE SIZE -->

            </div>
            <div class="col-md-6"></div>

            <div class="col-md-3">

                <a class="btn btn-primary h3 pull-right" href="{{ path('admin_item_new') }}" style="margin-bottom:10px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Создать
                </a>
                <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
                    Фильтровать
                    <span class="caret"></span>
                </a>
            </div>

            <div class="col-md-12">
                {%- if form_errors(filterForm) %}
                    <div class="alert alert-block alert-error fade in form-errors">
                        {{ form_errors(filterForm) }}
                    </div>
                {% endif %}
            </div>
        </div> <!-- /#top -->

        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <form method="POST" id="bulk_form" action="{{ path('admin_item_bulk_action') }} ">
                    <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                            {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                            <th>{{ macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_item') }}</th>
                            <th>Имя</th>
                            <th>{{ macros.th_sortable('cost',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_item') }}</th>
                            <th>{{ macros.th_sortable('country',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_item') }}</th>
                            <th>{{ macros.th_sortable('status',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_item') }}</th>
                            <th>{{ macros.th_sortable('created',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_item') }}</th>
                            <th>{{ macros.th_sortable('distantCost',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_item') }}</th>


                            <th width="130px">List</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();'
                                           class="check-all" value="{{ item.id }}"/></td>
                                <td><a href="{{ path('admin_item_edit', { 'id': item.id }) }}">{{ item.id }}</a></td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.cost }}</td>
                                <td>{{ item.country }}</td>
                                <td>
                                    {% if item.status == 1 %}
                                        <span class="label label-primary">Доступно</span>
                                    {% else %}
                                        <span class="label label-success">Продано</span>
                                    {% endif %}
                                </td>
                                <td>{%- if item.created %}{{ item.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ item.distantCost }}</td>
                                <td class="actions">
                                    <a onclick="return confirm('Are you sure!');" title="Delete"
                                       class="btn btn-danger btn-sm"
                                       href="{{ path('admin_item_by_id_delete', { 'id': item.id}) }}">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                    <a title='Show' class="btn btn-info btn-sm"
                                       href="{{ path('admin_item_show', { 'id': item.id }) }}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a title='Редактировать' class="btn btn-primary btn-sm"
                                       href="{{ path('admin_item_edit', { 'id': item.id }) }}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div> <!-- /#list -->
        <div class="row">
            <div class="col-md-4 pull-left">
                <div class="pagination form-inline ">
                    <select class="form-control" name="bulk_action">
                        <option value="">--Выбрать--</option>
                        <option value="delete">Удалить</option>
                    </select>
                    <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Вы уверены?')" form="bulk_form"
                           class="form-control btn btn-danger btn-sm" disabled>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-2 text-right">
                {{ pagerHtml|raw }}
            </div>
        </div> <!-- /#bottom -->
    </div>
{% endblock %}

