{% extends '::admin-base.html.twig' %}

{% block title %}
    Создать товар
{% endblock %}

{% block body %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>Создать товар <span class="glyphicon glyphicon-file" aria-hidden="true"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form.translations) }}
            {{ form_widget(form) }}
            <p>
                <button type="submit" name="submit" value="save" class="btn btn-primary">
                    Сохранить <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                </button>
                <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info">
                    Сохранить и продолжить <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </p>
            {{ form_end(form) }}
            <hr/>
            <div class="form-group">
                <a class="btn btn-default" href="{{ path('admin_item') }}">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Вернуться к списку
                </a>
            </div>
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ include('@Finance/Admin/page/froala-plugins.html.twig') }}
    {% endblock %}
{% endblock %}

