{% extends '::admin-base.html.twig' %}

{% block title %}
    Товар {{ item.name }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>Товар {{ item.name }} <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Id</strong></p>
                <p>
                    {{ item.id }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Имя</strong></p>
                <p>
                    <i>{{ item.name }}</i>
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Цена</strong></p>
                <p>
                    &euro; {{ item.cost }}
                </p>
            </div>
            {% if item.distantCost %}
                <div class="col-md-6">
                    <p><strong>Цена дистанционного открытия</strong></p>
                    <p>
                        {{ item.distantCost }}
                    </p>
                </div>
            {% endif %}
            {% if item.country %}
                <div class="col-md-6">
                    <p><strong>Страна</strong></p>
                    <p>
                        {{ item.country }}
                    </p>
                </div>
            {% endif %}
            {% if item.created %}
                <div class="col-md-6">
                    <p><strong>Дата создания (для компаний)</strong></p>
                    <p>
                        {% if item.created %}
                            {{- item.created|date('Y-m-d H:i:s') -}}
                        {% endif %}
                    </p>
                </div>
            {% endif %}
            <div class="col-md-12">
                <p><strong>Описание</strong></p>
                <p>
                    {{ item.description | raw }}
                </p>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('admin_item') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Вернуться к списку
            </a>
            <a class="btn btn-primary" href="{{ path('admin_item_edit', { 'id':  item.id }) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Редактировать
            </a>
            <a class="btn btn-info" href="{{ path('admin_item_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Создать
            </a>
            <form action="{{ path('admin_item_delete', { 'id': item.id }) }}" method="post"
                  style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Delete
                </button>
            </form>
        </div>
    </div>
{% endblock %}

