{% extends '::admin-base.html.twig' %}

{% block title %}
    Список компаний
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post" action="{{ path('admin_item_import') }}">
            <div class="alert alert-info">
                Формат написания:<br/>
                Название;Цена;Когда создано;Уставной капитал;Описание<br/>
                Пример:<br/>

                {{ 'Fro Plus Commerce LP;1500;2016-10-27;100;<p>апостилированный комплект документов,два номинальных оффшорных партнера</p>'| escape}}<br/>
                {{ 'Fro Plus Trading LP;1500;2016-10-27;100;<p>апостилированный комплект документов,два номинальных оффшорных партнера</p>'| escape }}<br/>
                {{ 'Dfa Trading Plus LP;1500;2016-10-27;100;<p>апостилированный комплект документов,два номинальных оффшорных партнера</p>'| escape }}

            </div>
            <textarea rows="25" cols="150" name="items">
</textarea>
            <button type="submit" name="submit" value="save" class="btn btn-success">
                Сохранить <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            </button>
        </form>
    </div>
{% endblock %}
