{% extends '::admin-base.html.twig' %}

{% block title %}
    {{ parent() }} - config index
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2><a href="{{ path('admin_config') }}">Config</a></h2>
                </div>
            </div>
            <div class="col-md-3 pull-left">

                <!-- PAGE SIZE -->
                <div class="pagination form-inline ">
                    <select class="form-control" onchange="window.location = this.value">
                        <option value='{{ path('admin_config', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>
                            10
                        </option>
                        <option value='{{ path('admin_config', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>
                            20
                        </option>
                        <option value='{{ path('admin_config', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>
                            50
                        </option>
                        <option value='{{ path('admin_config', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>
                            100
                        </option>
                        <option value='{{ path('admin_config', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>
                            500
                        </option>
                    </select>
                </div>
                <!-- END PAGE SIZE -->
            </div>
            <!-- FILTERING -->
            <div class="col-md-6">
                <form action="{{ path('admin_config') }}" method="get">

                    <div class="input-group h3">

                        {{ form_widget(filterForm.search, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_rest(filterForm) }}

                        <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>

                    </div>
                </form>
            </div>
            <!-- END FILTERING -->
            <div class="col-md-3">
                <a class="btn btn-primary h3 pull-right" href="{{ path('admin_config_new') }}"
                   style="margin-bottom:10px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
                </a>
            </div>
            <div class="col-md-12">
                {%- if form_errors(filterForm) %}
                    <div class="alert alert-block alert-error fade in form-errors">
                        {{ form_errors(filterForm) }}
                    </div>
                {% endif %}
            </div>

        </div> <!-- /#top -->
        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="table-responsive col-md-12">
                <form method="POST" id="bulk_form" action="{{ path('admin_config_bulk_action') }} ">
                    <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                            {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                            <th>{{ macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_config') }}</th>
                            <th>{{ macros.th_sortable('key',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_config') }}</th>
                            <th>{{ macros.th_sortable('value',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'admin_config') }}</th>


                            <th width="130px">List</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for config in configs %}
                            <tr>
                                <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();'
                                           class="check-all" value="{{ config.id }}"/></td>
                                <td><a href="{{ path('admin_config_edit', { 'id': config.id }) }}">{{ config.id }}</a>
                                </td>
                                <td>{{ config.key }}</td>
                                <td>{{ config.value }}</td>

                                <td class="actions">
                                    <a onclick="return confirm('Are you sure!');" title="Delete"
                                       class="btn btn-danger btn-sm"
                                       href="{{ path('admin_config_by_id_delete', { 'id': config.id}) }}">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                    <a title='Show' class="btn btn-info btn-sm"
                                       href="{{ path('admin_config_show', { 'id': config.id }) }}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a title='Edit' class="btn btn-primary btn-sm"
                                       href="{{ path('admin_config_edit', { 'id': config.id }) }}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div> <!-- /#list -->
        <div class="row">
            <div class="col-md-4 pull-left">
                <div class="pagination form-inline ">
                    <select class="form-control" name="bulk_action">
                        <option value="delete">DELETE</option>
                    </select>
                    <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form"
                           class="form-control btn btn-danger btn-sm" disabled>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 text-right">
                {{ pagerHtml|raw }}
            </div>
        </div> <!-- /#bottom -->
    </div>
{% endblock %}
