{% extends '::admin-base.html.twig' %}

{% block title %}
    {{ parent() }} - config
{% endblock %}

{% block body %}
    <div>
        <div id="top" class="row">
            <div class="page-header">
                <h2>View config <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p><strong>Id</strong></p>
                <p>
                    {{ config.id }}
                </p>

            </div>
            <div class="col-md-6">
                <p><strong>Key</strong></p>
                <p>
                    {{ config.key }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Value</strong></p>
                <p>
                    {{ config.value }}
                </p>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('admin_config') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Back to list
            </a>
            <a class="btn btn-primary" href="{{ path('admin_config_edit', { 'id':  config.id }) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Edit
            </a>
            <a class="btn btn-info" href="{{ path('admin_config_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New
            </a>
            <form action="{{ path('admin_config_delete', { 'id': config.id }) }}" method="post"
                  style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Delete
                </button>
            </form>
        </div>
    </div>
{% endblock %}
