{% extends 'FinanceBundle::layout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="wrapper"><h1>{{- 'Платежные институты.' | trans -}}
                <br>{{- 'Готовые компании. Банковские счета.' | trans -}}</h1>
            <div class="box-grid box-grid_main clearfix">
                <div class="box-grid__column column1">
                    <div class="box-grid__item item1 mh2">
                        <div class="box-grid__item-cont"><h3
                                    class="box-grid__title">{{- 'Специальные предложения' | trans -}}</h3>
                            <p class="box-grid__text">{{- 'Специальные предложения' | trans -}}
                                <br>{{- 'включают в себя пакет основных' | trans }} {{ 'услуг и ряд дополнительных сервисов' | trans -}}
                            </p>
                            <div class="box-grid__line-ptice"><p class="box-grid__price">{{- 'от' | trans -}}
                                    &nbsp;&euro;{{ special.cost }}</p><a
                                        class="button white"
                                        href="{{ path('finance_page', {'link':  'special-offers' }) }}">{{- 'Подробнее' | trans -}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-grid__column two-col">
                    <div class="box-grid__column col50 top">
                        <div class="box-grid__item item2 mh1">
                            <div class="box-grid__item-cont">
                                <h3 class="box-grid__title">{{- 'Лицензии Payment Service' | trans -}}
                                    <br>{{- 'Provider (PSP)' | trans -}}</h3>
                                <div class="box-grid__line-ptice"><p class="box-grid__price">{{- 'от' | trans -}}
                                        &nbsp€30000</p><a
                                            class="button white"
                                            href="{{ path('finance_page', {'link':  'license/payment-service-provider' }) }}">{{- 'Подробнее' | trans -}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-grid__column col100 col100_hide">
                        <div class="box-grid__item item4 mh1">
                            <div class="box-grid__item-cont"><h3
                                        class="box-grid__title">{{- 'Готовые компании' | trans -}}
                                    <br>{{- 'Английское LLP с двумя оффшорными партнерами' | trans -}}</h3>
                                <div class="box-grid__line-ptice"><p class="box-grid__price">{{- 'от' | trans -}}
                                        &nbsp;&euro;{{ company.cost }}</p><a
                                            class="button white"
                                            href="{{ path('finance_page', {'link':  'our-services/offshore-companies' }) }}">{{- 'Подробнее' | trans -}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-grid__column col50 top">
                        <div class="box-grid__item item3 mh1 white item3_with-img1">
                            <div class="box-grid__item-cont"><h3
                                        class="box-grid__title">{{- 'Банковский счет' | trans -}}</h3>
                                <p class="box-grid__text">{{- 'Открытие банковского счета в Европе' | trans -}}</p>
                                <div class="box-grid__line-ptice top"><p
                                            class="box-grid__price box-grid__price1000">{{- 'от' | trans -}}
                                        &nbsp;&euro;{{ bank.cost }}</p>
                                    <a class="button"
                                       href="{{ path('finance_page', {'link':  'our-services/bank-account' }) }}">{{- 'Подробнее' | trans -}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-grid__column col100 col100_hide-mob">
                        <div class="box-grid__item item4 mh1">
                            <div class="box-grid__item-cont">
                                <h3 class="box-grid__title">{{- 'Готовые компании' | trans -}}
                                    <br>{{- 'Английское LLP с двумя оффшорными партнерами' | trans -}}
                                </h3>
                                <div class="box-grid__line-ptice"><p class="box-grid__price">{{- 'от' | trans -}}
                                        &nbsp;&euro;{{ company.cost }}</p><a
                                            class="button white"
                                            href="{{ path('finance_page', {'link':  'our-services/offshore-companies' }) }}">{{- 'Подробнее' | trans -}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-grid__column col50 bottom">
                        <div class="box-grid__item item3 white">
                            <div class="box-grid__item-cont"><h3
                                        class="box-grid__title">{{- 'Мерчант аккаунт' | trans -}}</h3>
                                <p class="box-grid__text">{{- 'Открытие мерчант аккаунт для карт VISA MasterCard American Express' | trans -}}</p>
                                <div class="box-grid__line-ptice"><p class="box-grid__price">{{- 'от' | trans -}}
                                        &nbsp;&euro;{{ merchant.cost }}</p><a
                                            class="button"
                                            href="{{ path('finance_page', {'link':  'our-services/merchant-account' }) }}">{{- 'Подробнее' | trans -}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-grid__column col50 bottom">
                        <div class="box-grid__item item3 white">
                            <div class="box-grid__item-cont"><h3
                                        class="box-grid__title">{{- 'Выпуск карт' | trans -}}</h3>
                                <p class="box-grid__text">{{- 'Помощь в выпуске банковских' | trans -}}
                                    <br>{{- 'карт MasterCard и VISA' | trans -}}</p>
                                <div class="box-grid__line-ptice box-grid__line-ptice_mod"><a class="button"
                                                                                              href="{{ path('finance_page', {'link':  'our-services/card-issue' }) }}">{{- 'Подробнее' | trans -}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
