{% extends 'FinanceBundle::layout.html.twig' %}
{% block title %}{% if page.title %}{{- page.title | striptags }}{% endif %}{% endblock %}
{% block content %}
    <div class="content">
        <div class="wrapper">
            {% if page.title %}
                <h1>{{ page.title | raw }}</h1>
            {% endif %}
            {% if page.text %}
                {{ page.text | raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}
