<div class="add-to-cart-offshore hide">
    <div class="window-open" id="win_1">
        <ul class="popup-list">
            <div class="close-popup">
                <a href="">
                    <img src="{{ asset('img/close_popup.png') }}" alt="" width="8" height="8"/>
                </a>
            </div>
            <li class="popup-list__item item_head">
                <div class="popup-list__item-col col-1">
                    <span>{{ 'Название компании' | trans | raw }}</span>
                </div>
                <div class="popup-list__item-col col-2">
                    <span>{{ 'Дата создания' | trans }}</span>
                </div>
                <div class="popup-list__item-col col-3">
                    <span>{{ 'Уставной фонд' | trans }}</span>
                </div>
                <div class="popup-list__item-col col-4">
                    {{- 'Примечания' | trans }}
                </div>
            </li>
            {% for item in subitems %}
                <li class="popup-list__item">
                    <div class="popup-list__item-col col-1">
                        <label>
                            <input class="checkbox_popup styled"
                                   type="checkbox"
                                   name="{{ item.id }}"
                                   value="opt_2"
                                   data-id="{{ item.id }}"
                                   data-price="{{ item.cost }}"/>
                            <span>{{ item.name }}</span>
                        </label>
                    </div>
                    <div class="popup-list__item-col col-2">
                        <span class="hide-span">{{ 'Дата создания' | trans }}</span>
                        <span>{{ item.created |date("d.m.Y") }}</span>
                    </div>
                    <div class="popup-list__item-col col-3">
                        <span class="hide-span">{{ 'Уставной фонд' | trans }}</span>
                        <span>€ {{ item.chartercapital }}</span>
                    </div>
                    <div class="popup-list__item-col col-4">
                        <span class="hide-span">{{ 'Примечания' | trans }}</span>
                        <span>{{ item.description | striptags }}</span>
                    </div>
                </li>
            {% endfor %}
            <li class="popup-list__item">
                <div class="popup-list__item-col col-1 price">
                    &euro; <p class="popup__price">0</p></div>
                <div class="popup-list__item-col">
                    <button class="popup-button" data-offshore-buy="true">{{ 'Купить on-line' | trans }}</button>
                </div>
            </li>
        </ul>
    </div>
</div>
