<div class="add-to-cart-message hide">
    <div class="close-popup">
        <a href="">
            <img src="{{ asset('img/close_popup.png') }}" alt="" width="8" height="8"/>
        </a>
    </div>
    <div>
        <img src="{{ asset('img/basket_retina.png') }}" alt="" width="96" height="89"/>
    </div>
    <strong>{{- 'Добавлено в корзину' | trans -}}</strong>
    {% if bank %}
        <div>
            <a href="{{ path('finance_page', {'link': 'our-services/bank-account'}) }}"
               class="button buy-bank">{{ 'Купить банковский счет' | trans }}</a>
        </div>
    {% endif %}
    {% if company %}
        <div>
            <a href="{{ path('finance_page', {'link': 'our-services/offshore-companies'}) }}"
               class="button buy-company">
                {{- 'Купить компанию' | trans -}}
            </a>
        </div>
    {% endif %}
    <div>
        <a href="{{ path('finance_user_cart') }}" class="button go-to-cart">
            {{- 'Перейти в корзину' | trans -}}
        </a>
    </div>
</div>
