<div class="add-to-cart-special hide">
    <div class="window-open" id="win_2">
        <div class="close-popup">
            <a href="">
                <img src="{{ asset('img/close_popup.png') }}" alt="" width="8" height="8"/>
            </a>
        </div>
        <h3>{{ 'Выбрать банк' | trans }}</h3>
        <ul class="popup-list three-column">
            <li class="popup-list__item item_head">
                <div class="popup-list__item-col col-1"><span>{{ 'Название банка' | trans }}</span></div>
                <div class="popup-list__item-col col-2"><span>{{ 'Валюты' | trans }}</span></div>
                <div class="popup-list__item-col col-3"><span>{{ 'Государство' | trans }}</span></div>
            </li>
            {% for item in banks %}
                <li class="popup-list__item">
                    <div class="popup-list__item-col col-1">
                        <label><input class="js-styled"
                                      type="radio"
                                      name="items[0]"
                                      value="opt_4"
                                      data-id="{{ item.id }}"
                                      data-price="{{ item.cost }}">
                            <span>{{ item.name }}</span>
                        </label>
                    </div>
                    <div class="popup-list__item-col col-2">
                        <span class="hide-span">{{ 'Валюты' | trans }}</span>
                        <span>USD, EUR, GBP, CHF, JPY, CAD, SEK</span>
                    </div>
                    <div class="popup-list__item-col col-3">
                        <span class="hide-span">{{ 'Государство' | trans }}</span>
                        <span class="state-name">{{ item.country }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <h3>{{ 'Выбрать компанию' | trans }}</h3>
        <ul class="popup-list">
            <li class="popup-list__item item_head">
                <div class="popup-list__item-col col-1">
                    <span>{{ 'Название компании' | trans | raw }} <br/></span>
                </div>
                <div class="popup-list__item-col col-2">
                    <span>{{ 'Дата создания' | trans }} <br/> {{ 'date' | trans }}</span>
                </div>
                <div class="popup-list__item-col col-3">
                    <span>{{ 'Уставной фонд' | trans }}</span>
                </div>
                <div class="popup-list__item-col col-4">
                    <span>{{ 'Примечания' | trans }}</span>
                </div>
            </li>
            {% for item in companies %}
                <li class="popup-list__item">
                    <div class="popup-list__item-col col-1">
                        <label>
                            <input class="js-styled"
                                   type="radio"
                                   name="items[1]"
                                   value="opt_2"
                                   data-id="{{ item.id }}"
                                   data-price="{{ item.cost }}">
                            <span>{{ item.name }}</span>
                        </label>
                    </div>
                    <div class="popup-list__item-col col-2">
                        <span class="hide-span">{{ 'Дата создания' | trans }}</span>
                        <span>{{ item.created |date("d.m.Y") }}</span>
                    </div>
                    <div class="popup-list__item-col col-3">
                        <span class="hide-span">{{ 'Уставной фонд' | trans }}</span>
                        <span>€ {{ item.chartercapital }}</span>
                    </div>
                    <div class="popup-list__item-col col-4">
                        <span class="hide-span">{{ 'Примечания' | trans }}</span>
                        <span>{{ item.description | striptags }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <ul class="popup-list">
            <li class="popup-list__item">
                <div class="popup-list__item-col col-1 price">
                    &euro; <p class="popup__price"></p>
                </div>
                <div class="popup-list__item-col">
                    <button class="popup-button" data-special-buy="true">{{ 'Купить on-line' | trans }}</button>
                </div>
            </li>
        </ul>
    </div>
</div>
