<div class="cookies-message">
    <div class="wrapper">
        <div class="inner">{{ 'Мы используем куки для того, чтобы персонализировать содержание веб-сайта и анализировать трафика на нашем сайте.' | trans }}
            <div class="to-right">
                <a class="cookie-agree" href="/cookies/enable">{{ 'Я согласен' | trans }}</a>
            </div>
        </div>
    </div>
</div>
