{% if order.status == 0 %}
    <span class="label label-primary">Новый заказ</span>
{% elseif order.status == 1 %}
    <span class="label label-info">Оплачен</span>
{% elseif order.status == 2 %}
    <span class="label label-warning">В обработке</span>
{% elseif order.status == 3 %}
    <span class="label label-success">Выполнен</span>
{% elseif order.status == 4 %}
    <span class="label label-warning">Не оплачен</span>
{% elseif order.status == 5 %}
    <span class="label label-warning">Отказ</span>
{% endif %}
