<script type="text/javascript">
    var errorFormTranslate = {
        required: "{{ 'Поле не должно быть пустым' | trans }}",
        minlength: "{{ 'Поле должно содержать не менее {0} символов' | trans }}",
        maxlength: "{{ 'Поле должно содержать не более {0} символов' | trans }}",
        phone: "{{ 'Телефон должен быть указан в международном формате' | trans }}",
        email: "{{ 'Неправильный адрес электронной почты' | trans }}",
        password_equalTo: "{{ 'Пароли не совпадают' | trans }}",
        i_agree_required: "{{ 'Вы должны согласиться с условиями регистрации' | trans }}",
        order_payment_required: "{{ 'Выберите способ оплаты' | trans }}",
        remember_me_required: "{{ 'Вы должны согласиться с условиями покупки' | trans }}"
    };
</script>
