@font-face {
	font-family: 'GothamPro';
	src: url('/fonts/GothamProRegular.eot');
	src: url('/fonts/GothamProRegular.eot?#iefix') format("embedded-opentype"), url('/fonts/GothamProRegular.ttf') format("truetype"), url('/fonts/GothamProRegular.svg#GothamProRegular') format("svg");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family: 'GothamPro';
	src: url('/fonts/GothamProBold.eot');
	src: url('/fonts/GothamProBold.eot?#iefix') format("embedded-opentype"), url('/fonts/GothamProBold.woff') format("woff"), url('/fonts/GothamProBold.ttf') format("truetype"), url('/fonts/GothamProBold.svg#GothamProBold') format("svg");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family: 'GothamPro';
	src: url('/fonts/GothamPro-Black_gdi.eot');
	src: url('/fonts/GothamPro-Black_gdi.eot?#iefix') format("embedded-opentype"), url('/fonts/GothamPro-Black_gdi.woff') format("woff"), url('/fonts/GothamPro-Black_gdi.ttf') format("truetype"), url('/fonts/GothamPro-Black_gdi.svg#GothamPro-Black') format("svg");
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family: 'GothamPro';
	src: url('/fonts/GothamProBoldItalic.eot');
	src: url('/fonts/GothamProBoldItalic.eot?#iefix') format("embedded-opentype"), url('/fonts/GothamProBoldItalic.woff') format("woff"), url('/fonts/GothamProBoldItalic.ttf') format("truetype");
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}
