@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ProximaNova-Regular_gdi.eot');
    src: url('/fonts/ProximaNova-Regular_gdi.eot?#iefix') format("embedded-opentype"), url('/fonts/ProximaNova-Regular_gdi.woff') format("woff"), url('/fonts/ProximaNova-Regular_gdi.ttf') format("truetype"), url('/fonts/ProximaNova-Regular_gdi.svg#ProximaNova-Regular') format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ProximaNova-Bold.eot');
    src: url('/fonts/ProximaNova-Bold.eot?#iefix') format("embedded-opentype"), url('/fonts/ProximaNova-Bold.woff') format("woff"), url('/fonts/ProximaNova-Bold.ttf') format("truetype"), url('/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format("svg");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}
